<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Jennifer's and Hari's wedding in Paphos, Cyprus">
        <title>Jennifer and Xaris wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242597/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0021_cikmas.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242598/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0055_uyaijg.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242594/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0229_y0wofv.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242596/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0235_p0mesz.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242595/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0286_phehc1.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242596/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0401_ocebfl.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242596/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0404_l3yqfg.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242602/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0651_anaz6t.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0655_lgvyls.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242598/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0664_xvousu.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0707_w9tbmy.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0713_iq3asg.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0731_zhiefe.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0751_aidxy4.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242602/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0781_xvsebu.webp"
                        loading="lazy" alt="A photo from Jennifer's and Xaris's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>