<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Kristia's and Alexis's wedding in Paphos, Cyprus">
        <title>Kristia and Alexis wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242700/studiophotocreation/cypriot-weddings/kristia-alexis/KAMBAS_zciyv8.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242702/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_0920_f1oteh.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242700/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_0929_xqeftj.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242702/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1112_dxh4dw.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242703/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1616_wracyq.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242702/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1623_wmga2n.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242702/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1628_zjwtcx.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242704/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1712_2_geusc6.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1823_yxwf91.webp"
                        alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242704/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1833_smzve5.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242704/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1836_kjy82j.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1846_uwscs3.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242705/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1932_ngmiur.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242705/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_1936_tj6ik6.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2059_uns8pr.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242705/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2064_di6ngi.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2136_sbtm58.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2151_ifwr7j.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242707/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2153_qlq7ur.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242707/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2158_zte7qc.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242707/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2162_ey1gkh.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242708/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2184_p8cx9q.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242708/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2186_ycc0wr.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242708/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2194_rwqykc.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242709/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2229_rvcjdg.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242710/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2238_vehdxq.webp"
                        loading="lazy" alt="A photo from Kristia's and Alexis's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>