<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Maria's and Lambro's wedding in Paphos, Cyprus">
        <title>Maria and Lampros wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243990/studiophotocreation/cypriot-weddings/maria-lampros/SPC_0895_hmruyg.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243991/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1043_v7y8t0.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243995/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1051_nuu0b4.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243993/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1082_irmswf.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243995/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1088_b5y2il.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244000/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1108_qrypef.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243993/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1228_geug6t.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243995/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1307_e6xcax.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244000/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1320_hukmqb.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243999/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1446_agffxd.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244000/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1468_yswppg.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243996/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1484_zxlugx.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244001/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1486_o7lwmn.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244001/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1497_jdtfor.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244002/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1647_xfulqt.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244002/studiophotocreation/cypriot-weddings/maria-lampros/SPC_1649_ofqjev.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244007/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2219_zauenu.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244007/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2252_mkptv7.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244003/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2275_ie71ku.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244002/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2290_m7rkhb.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244005/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2297_w1xaxq.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244006/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2299_hzlkck.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244006/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2307_yealqv.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244006/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2319_hqsxyq.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244008/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2330_zfiobv.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244012/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2335_l48rj3.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244015/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2348_nuisib.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244008/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2355_v7jz5e.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244008/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2359_ga41vc.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244011/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2375_tpz11d.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244011/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2384_zhq9iz.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244012/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2387_tzzeuq.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244016/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2391_hoznaq.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244015/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2393_l7xzcn.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244013/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2401_l1vz40.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244014/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2409_wqpici.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244014/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2412_bryqhv.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244014/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2416_p07wb6.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244017/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2427_claaze.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244017/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2429_ialdcd.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244017/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2435_r7bzxd.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244019/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2444_iaaxqk.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244022/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2455_nzrtxh.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244030/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2481_wmhjdz.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244019/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2483_ekxemv.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244019/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2489_sdldk8.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244025/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2503_tf5icn.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244021/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2513_esu5xl.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244025/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2520_wt1zkg.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244021/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2538_jjnizz.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244024/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2543_cfqoyk.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244024/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2552_be99dl.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244024/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2558_lal2w2.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244027/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2560_x39vy4.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244028/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2571_aqajk5.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244027/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2578_saav2v.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244028/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2581_zqo9xz.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244028/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2587_u2tq1h.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244029/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2598_qbbjny.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244032/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2603_vcaulm.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244029/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2615_qezy4x.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244032/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2616_v4i0vf.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244030/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2619_tsj9bt.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244030/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2620_oo0isj.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244030/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2627_lrd7d0.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244031/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2639_wll9wp.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244032/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2642_lxedti.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244032/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2645_yklwx6.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244032/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2646_vvoant.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244034/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2652_ll9jgi.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244034/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2653_x6b7ud.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244034/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2656_askol7.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244033/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2657_bpeepf.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244034/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2663_jfh3wb.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244033/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2664_ey0omf.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244034/studiophotocreation/cypriot-weddings/maria-lampros/SPC_2674_2_zyu13f.webp"
                        loading="lazy" alt="A photo from Maria's and Lampros's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>