<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Agapi's christening">
        <title>Agapi's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244379/studiophotocreation/christenings/agapi/SPC_0001_cq30af.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244379/studiophotocreation/christenings/agapi/SPC_0002_fryntc.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244379/studiophotocreation/christenings/agapi/SPC_0003_klgqyn.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244379/studiophotocreation/christenings/agapi/SPC_0004_vqigli.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244382/studiophotocreation/christenings/agapi/SPC_0007_c7a0eu.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244382/studiophotocreation/christenings/agapi/SPC_0011_ef6aje.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244380/studiophotocreation/christenings/agapi/SPC_0013_dju9f3.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244381/studiophotocreation/christenings/agapi/SPC_0015_nhokrw.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244382/studiophotocreation/christenings/agapi/SPC_0016_xm26qh.webp"
                        alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244381/studiophotocreation/christenings/agapi/SPC_0017_gn3hlx.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244382/studiophotocreation/christenings/agapi/SPC_0020_dwn3a3.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244383/studiophotocreation/christenings/agapi/SPC_0021_w4gfpb.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244383/studiophotocreation/christenings/agapi/SPC_0023_clfgxf.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244382/studiophotocreation/christenings/agapi/SPC_0024_dkjgkj.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244383/studiophotocreation/christenings/agapi/SPC_0026_rznmdd.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244384/studiophotocreation/christenings/agapi/SPC_0027_lscc5i.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244384/studiophotocreation/christenings/agapi/SPC_0028_w9hnnz.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244385/studiophotocreation/christenings/agapi/SPC_0029_udzqfg.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244385/studiophotocreation/christenings/agapi/SPC_0038_nbocuc.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244388/studiophotocreation/christenings/agapi/SPC_0044_nxyhm1.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244388/studiophotocreation/christenings/agapi/SPC_0048_gmdhd9.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244390/studiophotocreation/christenings/agapi/SPC_0064_puc2bh.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244389/studiophotocreation/christenings/agapi/SPC_0065_t9w15h.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244388/studiophotocreation/christenings/agapi/SPC_0078_nggj0f.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244387/studiophotocreation/christenings/agapi/SPC_0082_uj3wos.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244390/studiophotocreation/christenings/agapi/SPC_0086_edwyit.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244390/studiophotocreation/christenings/agapi/SPC_0183_qx9iod.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244390/studiophotocreation/christenings/agapi/SPC_0184_on6yrm.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244391/studiophotocreation/christenings/agapi/SPC_0196_rn1ek3.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244391/studiophotocreation/christenings/agapi/SPC_0251_tjhzhs.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244392/studiophotocreation/christenings/agapi/SPC_0252_bentvd.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244392/studiophotocreation/christenings/agapi/SPC_0255_whptez.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244391/studiophotocreation/christenings/agapi/SPC_0256_isqfej.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244393/studiophotocreation/christenings/agapi/SPC_0269_zzhy8f.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244393/studiophotocreation/christenings/agapi/SPC_0270_swcjoz.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244393/studiophotocreation/christenings/agapi/SPC_0273_zsw2im.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244393/studiophotocreation/christenings/agapi/SPC_0274_jx5iws.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244394/studiophotocreation/christenings/agapi/SPC_0277_cfhwqh.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244395/studiophotocreation/christenings/agapi/SPC_0285_opg5pv.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244395/studiophotocreation/christenings/agapi/SPC_0307_dpnu8w.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244395/studiophotocreation/christenings/agapi/SPC_0308_fmcs0y.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244401/studiophotocreation/christenings/agapi/SPC_0317_rn0ya6.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244395/studiophotocreation/christenings/agapi/SPC_0318_xydsl7.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244399/studiophotocreation/christenings/agapi/SPC_0319_wpbiuv.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244398/studiophotocreation/christenings/agapi/SPC_0342_lyjwl4.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244397/studiophotocreation/christenings/agapi/SPC_0346_m555sd.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244398/studiophotocreation/christenings/agapi/SPC_0362_wyjp7b.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244398/studiophotocreation/christenings/agapi/SPC_0364_h6esuf.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244401/studiophotocreation/christenings/agapi/SPC_0368_iimywo.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244403/studiophotocreation/christenings/agapi/SPC_0395_fo5ew0.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244401/studiophotocreation/christenings/agapi/SPC_0397_wtntkz.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244402/studiophotocreation/christenings/agapi/SPC_0403_rcfk4c.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244402/studiophotocreation/christenings/agapi/SPC_0405_xamg2y.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244403/studiophotocreation/christenings/agapi/SPC_0459_jb3noe.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244403/studiophotocreation/christenings/agapi/SPC_0463_cy6kbh.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0468_qmtotm.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244404/studiophotocreation/christenings/agapi/SPC_0584_ppr2f9.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244408/studiophotocreation/christenings/agapi/SPC_0587_iiarqt.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244405/studiophotocreation/christenings/agapi/SPC_0589_st7xa4.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244406/studiophotocreation/christenings/agapi/SPC_0660_u8fmqp.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244406/studiophotocreation/christenings/agapi/SPC_0662_lvujev.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244407/studiophotocreation/christenings/agapi/SPC_0668_zxbwdi.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244408/studiophotocreation/christenings/agapi/SPC_0673_dtoinh.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244409/studiophotocreation/christenings/agapi/SPC_0693_cag4sd.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244409/studiophotocreation/christenings/agapi/SPC_0702_zdbfas.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244410/studiophotocreation/christenings/agapi/SPC_0708_pesuj8.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0774_kwvfaq.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0790_tibwql.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0795_jxoecc.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244411/studiophotocreation/christenings/agapi/SPC_0803_yc4et6.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244412/studiophotocreation/christenings/agapi/SPC_0814_qpi3dx.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244414/studiophotocreation/christenings/agapi/SPC_0821_z1lq0h.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244415/studiophotocreation/christenings/agapi/SPC_0828_r4phfx.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244415/studiophotocreation/christenings/agapi/SPC_0831_qztsgv.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244414/studiophotocreation/christenings/agapi/SPC_0852_hhwn7j.webp"
                        loading="lazy" alt="A photo from Agapi's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>