<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Ioanna's christening">
        <title>Ioanna's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>


        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244432/studiophotocreation/christenings/ioanna/001-002_ew3giu.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244434/studiophotocreation/christenings/ioanna/003-004_q2quuz.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244433/studiophotocreation/christenings/ioanna/005-006_n3whor.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244433/studiophotocreation/christenings/ioanna/007-008_xyj5lj.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244435/studiophotocreation/christenings/ioanna/009-010_zlpgo9.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244434/studiophotocreation/christenings/ioanna/011-012_d7pc97.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244436/studiophotocreation/christenings/ioanna/013-014_abunfn.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244435/studiophotocreation/christenings/ioanna/015-016_engp6d.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244435/studiophotocreation/christenings/ioanna/017-018_wrynqk.webp"
                        alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244436/studiophotocreation/christenings/ioanna/019-020_ud5uvi.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244437/studiophotocreation/christenings/ioanna/021-022_b5l9dw.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244439/studiophotocreation/christenings/ioanna/023-024_flyvgr.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244439/studiophotocreation/christenings/ioanna/025-026_mxywzm.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244439/studiophotocreation/christenings/ioanna/027-028_piicry.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244440/studiophotocreation/christenings/ioanna/029-030_w7j1z8.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244438/studiophotocreation/christenings/ioanna/031-032_jru2yo.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244439/studiophotocreation/christenings/ioanna/033-034_udnr9j.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244441/studiophotocreation/christenings/ioanna/035-036_inmjfq.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244440/studiophotocreation/christenings/ioanna/037-038_q8uw51.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244441/studiophotocreation/christenings/ioanna/039-040_h4ojxy.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244440/studiophotocreation/christenings/ioanna/041-042_oenaj6.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632244442/studiophotocreation/christenings/ioanna/043-044_tjpyxb.webp"
                        loading="lazy" alt="A photo from Ioanna's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>