<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Victoria's christening">
        <title>Victoria's christening - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245353/studiophotocreation/christenings/victoria/0001_di5sau.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245353/studiophotocreation/christenings/victoria/001-002_taw66v.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245357/studiophotocreation/christenings/victoria/003-004_cbsbib.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245362/studiophotocreation/christenings/victoria/005-006_qh685c.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245355/studiophotocreation/christenings/victoria/007-008_yf0vaa.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245357/studiophotocreation/christenings/victoria/009-010_gylohm.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245356/studiophotocreation/christenings/victoria/011-012_at4wus.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245356/studiophotocreation/christenings/victoria/013-014_aju7ao.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245358/studiophotocreation/christenings/victoria/015-016_lybpll.webp"
                        alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245359/studiophotocreation/christenings/victoria/017-018_zr3e3m.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245361/studiophotocreation/christenings/victoria/019-020_v9jfhs.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245361/studiophotocreation/christenings/victoria/021-022_ykwt8s.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245364/studiophotocreation/christenings/victoria/023-024_qibhxl.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245366/studiophotocreation/christenings/victoria/025-026_cccmxx.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245363/studiophotocreation/christenings/victoria/027-028_akcjgl.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245366/studiophotocreation/christenings/victoria/029-030_dahe6u.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245366/studiophotocreation/christenings/victoria/031-032_mfigmp.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245365/studiophotocreation/christenings/victoria/033-034_g7d5qy.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245369/studiophotocreation/christenings/victoria/035-036_hhfm9t.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245367/studiophotocreation/christenings/victoria/037-038_wyebmr.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245369/studiophotocreation/christenings/victoria/039-040_ytitu7.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245369/studiophotocreation/christenings/victoria/041-042_blu0ll.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245367/studiophotocreation/christenings/victoria/043-044_ezifuj.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245368/studiophotocreation/christenings/victoria/045-046_gow85m.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245369/studiophotocreation/christenings/victoria/047-048_i4mgrq.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632245369/studiophotocreation/christenings/victoria/049-050_sljrjz.webp"
                        loading="lazy" alt="A photo from Victoria's christening">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>