<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Christina's and Kyle's wedding in Paphos, Cyprus">
        <title>Christina and Kyle wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567892/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0012_nvl1vb.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567892/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0028_c5ijzx.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567893/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0053_rxok4r.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567892/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0136_z6apmf.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0148_rvzs6p.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567895/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0176_kblev6.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0189_j3cq6h.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567904/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0212_gacuok.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567904/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0217_lyotsa.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0233_wbpfku.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567908/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0235_duufns.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0239_okircv.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0260_frjqfc.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567906/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0296_og9for.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0355_gsnjxg.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567908/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0361_v6uayk.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567907/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0366_odfmmo.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567908/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0372_ytymze.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567908/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0377_tbid4c.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567909/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0393_ahfc7m.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567910/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0395_d7peen.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567910/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0417_pyilmr.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567910/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0418_mymlwz.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567911/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0423_p2qexp.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567910/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0427_ktca5p.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567910/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0460_cd44rn.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567913/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0545_cmkkee.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567912/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0549_rpn2rc.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567912/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0552_lqgmuo.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567912/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0558_nemer6.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567892/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0639_qgqy0g.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567892/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0645_cun0gt.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567894/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0666_wl5a9n.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567894/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0669_dhtcfc.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567894/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0672_iqjwor.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0673_yhgs2s.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567895/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0684_wklreb.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567894/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0687_oqxn7n.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0696_b8g6rh.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0702_wxgrgb.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567897/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0720_hsayre.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567896/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0727_lls0k5.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0742_jxtkn2.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0746_fucrol.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0751_kyl6fs.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567903/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0764_hkjjcs.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0821_q79wjf.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0824_mb6pxj.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567898/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0828_ballst.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567900/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0835_uowmnd.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567903/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0838_zxcgio.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567900/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0839_zaahri.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567901/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0842_quwsng.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567900/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0845_ow8hdq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567903/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0847_gscirx.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567901/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0850_upipiv.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567903/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0862_axdb4t.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567903/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0897_i6yupj.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>