<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Christina's and Kyle's wedding in Paphos, Cyprus">
        <title>Christina and Kyle wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382035/studiophotocreation/english-weddings/christina-kyle/SPC_0012_xpvdme.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382035/studiophotocreation/english-weddings/christina-kyle/SPC_0028_vkvkgm.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382037/studiophotocreation/english-weddings/christina-kyle/SPC_0053_fxxphk.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382036/studiophotocreation/english-weddings/christina-kyle/SPC_0136_bwlvoe.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382039/studiophotocreation/english-weddings/christina-kyle/SPC_0148_suykuu.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382038/studiophotocreation/english-weddings/christina-kyle/SPC_0176_hyj6hb.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382039/studiophotocreation/english-weddings/christina-kyle/SPC_0189_guficf.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382042/studiophotocreation/english-weddings/christina-kyle/SPC_0212_xi6c4f.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382040/studiophotocreation/english-weddings/christina-kyle/SPC_0217_ehdzzz.webp"
                        alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382041/studiophotocreation/english-weddings/christina-kyle/SPC_0233_tw882p.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382041/studiophotocreation/english-weddings/christina-kyle/SPC_0235_q2fkr1.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382040/studiophotocreation/english-weddings/christina-kyle/SPC_0239_rahsxj.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382040/studiophotocreation/english-weddings/christina-kyle/SPC_0260_shzy33.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382042/studiophotocreation/english-weddings/christina-kyle/SPC_0264_sn5hns.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382041/studiophotocreation/english-weddings/christina-kyle/SPC_0296_oid43o.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382042/studiophotocreation/english-weddings/christina-kyle/SPC_0355_rocf8b.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382042/studiophotocreation/english-weddings/christina-kyle/SPC_0361_gvfwxq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382043/studiophotocreation/english-weddings/christina-kyle/SPC_0366_x0zsmo.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382043/studiophotocreation/english-weddings/christina-kyle/SPC_0370_gfxjdy.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382045/studiophotocreation/english-weddings/christina-kyle/SPC_0372_s0jtbn.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382044/studiophotocreation/english-weddings/christina-kyle/SPC_0377_tmfqqx.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382050/studiophotocreation/english-weddings/christina-kyle/SPC_0393_whmxvp.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382047/studiophotocreation/english-weddings/christina-kyle/SPC_0395_gh3s5x.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382045/studiophotocreation/english-weddings/christina-kyle/SPC_0403_vcdqdj.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382047/studiophotocreation/english-weddings/christina-kyle/SPC_0417_wkli1g.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382046/studiophotocreation/english-weddings/christina-kyle/SPC_0418_e2bxif.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382049/studiophotocreation/english-weddings/christina-kyle/SPC_0423_hr5ywt.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382047/studiophotocreation/english-weddings/christina-kyle/SPC_0427_uxkedq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382047/studiophotocreation/english-weddings/christina-kyle/SPC_0460_hwnlhz.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382050/studiophotocreation/english-weddings/christina-kyle/SPC_0545_bfmp1d.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382049/studiophotocreation/english-weddings/christina-kyle/SPC_0549_k8spyi.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382050/studiophotocreation/english-weddings/christina-kyle/SPC_0552_yivdjq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382050/studiophotocreation/english-weddings/christina-kyle/SPC_0558_l31sle.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382051/studiophotocreation/english-weddings/christina-kyle/SPC_0639_ijj2xo.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382052/studiophotocreation/english-weddings/christina-kyle/SPC_0645_olmjne.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382052/studiophotocreation/english-weddings/christina-kyle/SPC_0666_z9t2uq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382051/studiophotocreation/english-weddings/christina-kyle/SPC_0669_xybex3.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382052/studiophotocreation/english-weddings/christina-kyle/SPC_0672_y7w0kp.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382052/studiophotocreation/english-weddings/christina-kyle/SPC_0673_zwzr5g.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382053/studiophotocreation/english-weddings/christina-kyle/SPC_0684_rp5goc.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382053/studiophotocreation/english-weddings/christina-kyle/SPC_0687_qvyxjy.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382054/studiophotocreation/english-weddings/christina-kyle/SPC_0696_tybgyr.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382053/studiophotocreation/english-weddings/christina-kyle/SPC_0702_kfluki.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382054/studiophotocreation/english-weddings/christina-kyle/SPC_0720_rtmeiv.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382054/studiophotocreation/english-weddings/christina-kyle/SPC_0727_gzyhcl.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382057/studiophotocreation/english-weddings/christina-kyle/SPC_0742_jrxria.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382055/studiophotocreation/english-weddings/christina-kyle/SPC_0746_cvyrsp.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382055/studiophotocreation/english-weddings/christina-kyle/SPC_0751_dthqts.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382056/studiophotocreation/english-weddings/christina-kyle/SPC_0755_abdisd.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382057/studiophotocreation/english-weddings/christina-kyle/SPC_0757_z3go4l.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382057/studiophotocreation/english-weddings/christina-kyle/SPC_0761_esfbiz.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382061/studiophotocreation/english-weddings/christina-kyle/SPC_0764_ac7bx4.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382057/studiophotocreation/english-weddings/christina-kyle/SPC_0821_wflvku.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382061/studiophotocreation/english-weddings/christina-kyle/SPC_0824_dbrysc.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382058/studiophotocreation/english-weddings/christina-kyle/SPC_0828_bnbbxw.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382060/studiophotocreation/english-weddings/christina-kyle/SPC_0835_lmppyp.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382060/studiophotocreation/english-weddings/christina-kyle/SPC_0838_kbnpf4.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382060/studiophotocreation/english-weddings/christina-kyle/SPC_0839_pbxddi.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382061/studiophotocreation/english-weddings/christina-kyle/SPC_0842_gygsdb.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382034/studiophotocreation/english-weddings/christina-kyle/SPC_0845_dibcq1.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382038/studiophotocreation/english-weddings/christina-kyle/SPC_0847_h5a3n6.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382036/studiophotocreation/english-weddings/christina-kyle/SPC_0850_cwderq.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382036/studiophotocreation/english-weddings/christina-kyle/SPC_0862_n2vlej.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382036/studiophotocreation/english-weddings/christina-kyle/SPC_0897_sxn6v2.webp"
                        loading="lazy" alt="A photo from Christina's and Kyle's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>