<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Danielle's and Nikole's wedding in Paphos, Cyprus">
        <title>Danielle and Nikole wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382133/studiophotocreation/english-weddings/danielle-nikole/SPC_0006_dwdvtg.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382133/studiophotocreation/english-weddings/danielle-nikole/SPC_0011_d2cffn.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382133/studiophotocreation/english-weddings/danielle-nikole/SPC_0018_nhhwqi.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382133/studiophotocreation/english-weddings/danielle-nikole/SPC_0019_bogxb4.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382134/studiophotocreation/english-weddings/danielle-nikole/SPC_0025_nva9kp.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382136/studiophotocreation/english-weddings/danielle-nikole/SPC_0029_kzytef.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382136/studiophotocreation/english-weddings/danielle-nikole/SPC_0033_tvdmb4.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382136/studiophotocreation/english-weddings/danielle-nikole/SPC_0034_xj28h0.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382135/studiophotocreation/english-weddings/danielle-nikole/SPC_0044_njebrk.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382135/studiophotocreation/english-weddings/danielle-nikole/SPC_0054_iqbkab.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382136/studiophotocreation/english-weddings/danielle-nikole/SPC_0055_ahgiho.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382137/studiophotocreation/english-weddings/danielle-nikole/SPC_0058_tcng5s.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382137/studiophotocreation/english-weddings/danielle-nikole/SPC_0060_bnqy7n.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382137/studiophotocreation/english-weddings/danielle-nikole/SPC_0067_takxyj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382137/studiophotocreation/english-weddings/danielle-nikole/SPC_0071_tmdsom.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382139/studiophotocreation/english-weddings/danielle-nikole/SPC_0074_mcpaiw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382139/studiophotocreation/english-weddings/danielle-nikole/SPC_0080_szgb7f.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382140/studiophotocreation/english-weddings/danielle-nikole/SPC_0084_ndqwns.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382141/studiophotocreation/english-weddings/danielle-nikole/SPC_0090_hzskcd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382139/studiophotocreation/english-weddings/danielle-nikole/SPC_0099_fgrzk9.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382140/studiophotocreation/english-weddings/danielle-nikole/SPC_0103_euif0f.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382140/studiophotocreation/english-weddings/danielle-nikole/SPC_0109_nznmko.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382142/studiophotocreation/english-weddings/danielle-nikole/SPC_0113_yn1apg.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382142/studiophotocreation/english-weddings/danielle-nikole/SPC_0115_svulzr.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382143/studiophotocreation/english-weddings/danielle-nikole/SPC_0117_yy0fwv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382142/studiophotocreation/english-weddings/danielle-nikole/SPC_0126_grbz44.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382142/studiophotocreation/english-weddings/danielle-nikole/SPC_0132_pcgklv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382142/studiophotocreation/english-weddings/danielle-nikole/SPC_0135_pjwsej.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382143/studiophotocreation/english-weddings/danielle-nikole/SPC_0140_t1imt2.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382143/studiophotocreation/english-weddings/danielle-nikole/SPC_0152_pit3he.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382145/studiophotocreation/english-weddings/danielle-nikole/SPC_0164_knmu0a.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382146/studiophotocreation/english-weddings/danielle-nikole/SPC_0166_jd1unn.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382145/studiophotocreation/english-weddings/danielle-nikole/SPC_0170_xpym3o.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382153/studiophotocreation/english-weddings/danielle-nikole/SPC_0177_lbiqpd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382151/studiophotocreation/english-weddings/danielle-nikole/SPC_0187_nuy8dk.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382152/studiophotocreation/english-weddings/danielle-nikole/SPC_0190_hid3dj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382151/studiophotocreation/english-weddings/danielle-nikole/SPC_0192_szyt0j.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382150/studiophotocreation/english-weddings/danielle-nikole/SPC_0202_e4grft.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382148/studiophotocreation/english-weddings/danielle-nikole/SPC_0205_rauxkt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382150/studiophotocreation/english-weddings/danielle-nikole/SPC_0206_zxilcf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382153/studiophotocreation/english-weddings/danielle-nikole/SPC_0214_itwowh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382155/studiophotocreation/english-weddings/danielle-nikole/SPC_0217_adomw7.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382155/studiophotocreation/english-weddings/danielle-nikole/SPC_0220_q3j38x.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382154/studiophotocreation/english-weddings/danielle-nikole/SPC_0222_rb3fg1.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382157/studiophotocreation/english-weddings/danielle-nikole/SPC_0228_amqu8t.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382158/studiophotocreation/english-weddings/danielle-nikole/SPC_0243_w4yjgy.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382157/studiophotocreation/english-weddings/danielle-nikole/SPC_0249_saiugp.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382158/studiophotocreation/english-weddings/danielle-nikole/SPC_0250_bymotv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382161/studiophotocreation/english-weddings/danielle-nikole/SPC_0257_z24m1s.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382163/studiophotocreation/english-weddings/danielle-nikole/SPC_0263_cxpj7n.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382161/studiophotocreation/english-weddings/danielle-nikole/SPC_0270_encaoi.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382160/studiophotocreation/english-weddings/danielle-nikole/SPC_0275_cgg1ip.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382161/studiophotocreation/english-weddings/danielle-nikole/SPC_0278_brlg0n.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382160/studiophotocreation/english-weddings/danielle-nikole/SPC_0282_gmjlbu.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382165/studiophotocreation/english-weddings/danielle-nikole/SPC_0301_hkiijh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382163/studiophotocreation/english-weddings/danielle-nikole/SPC_0303_hco4f3.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382168/studiophotocreation/english-weddings/danielle-nikole/SPC_0305_vev6y8.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382171/studiophotocreation/english-weddings/danielle-nikole/SPC_0334_oivrxe.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382172/studiophotocreation/english-weddings/danielle-nikole/SPC_0339_giwpch.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382169/studiophotocreation/english-weddings/danielle-nikole/SPC_0344_pqo9sv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382169/studiophotocreation/english-weddings/danielle-nikole/SPC_0347_fzoibh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382169/studiophotocreation/english-weddings/danielle-nikole/SPC_0350_xurpar.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382173/studiophotocreation/english-weddings/danielle-nikole/SPC_0357_aih2ty.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382174/studiophotocreation/english-weddings/danielle-nikole/SPC_0362_i7fwwu.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382171/studiophotocreation/english-weddings/danielle-nikole/SPC_0374_mmioic.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382171/studiophotocreation/english-weddings/danielle-nikole/SPC_0375_rgleoj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382175/studiophotocreation/english-weddings/danielle-nikole/SPC_0382_srkijt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382183/studiophotocreation/english-weddings/danielle-nikole/SPC_0384_iwhyoo.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382174/studiophotocreation/english-weddings/danielle-nikole/SPC_0389_y7pj80.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382175/studiophotocreation/english-weddings/danielle-nikole/SPC_0395_rtqdnr.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382174/studiophotocreation/english-weddings/danielle-nikole/SPC_0403_ul4mlq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382175/studiophotocreation/english-weddings/danielle-nikole/SPC_0406_i7f7sx.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382178/studiophotocreation/english-weddings/danielle-nikole/SPC_0411_euemn8.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382180/studiophotocreation/english-weddings/danielle-nikole/SPC_0501_ctjejm.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382179/studiophotocreation/english-weddings/danielle-nikole/SPC_0505_q17tds.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382179/studiophotocreation/english-weddings/danielle-nikole/SPC_0507_nwfira.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382179/studiophotocreation/english-weddings/danielle-nikole/SPC_0576_lbw0jc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382183/studiophotocreation/english-weddings/danielle-nikole/SPC_0620_fkhzn8.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382185/studiophotocreation/english-weddings/danielle-nikole/SPC_0640_cojpty.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382182/studiophotocreation/english-weddings/danielle-nikole/SPC_0645_qyrlog.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382183/studiophotocreation/english-weddings/danielle-nikole/SPC_0652_dvrbkf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382184/studiophotocreation/english-weddings/danielle-nikole/SPC_0658_thvnkf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382186/studiophotocreation/english-weddings/danielle-nikole/SPC_0663_fddezm.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382186/studiophotocreation/english-weddings/danielle-nikole/SPC_0669_pphlar.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382186/studiophotocreation/english-weddings/danielle-nikole/SPC_0671_t2bwxe.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382185/studiophotocreation/english-weddings/danielle-nikole/SPC_0675_no98on.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382187/studiophotocreation/english-weddings/danielle-nikole/SPC_0677_olpwp6.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382186/studiophotocreation/english-weddings/danielle-nikole/SPC_0680_zoxkbj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382188/studiophotocreation/english-weddings/danielle-nikole/SPC_0683_tvqwhg.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382189/studiophotocreation/english-weddings/danielle-nikole/SPC_0688_dlhnga.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382188/studiophotocreation/english-weddings/danielle-nikole/SPC_0693_tcw2dq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382188/studiophotocreation/english-weddings/danielle-nikole/SPC_0696_wpi24o.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382188/studiophotocreation/english-weddings/danielle-nikole/SPC_0697_gqvqvi.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382189/studiophotocreation/english-weddings/danielle-nikole/SPC_0707_wifxtx.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382189/studiophotocreation/english-weddings/danielle-nikole/SPC_0712_haxhue.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382190/studiophotocreation/english-weddings/danielle-nikole/SPC_0718_yg2ljp.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382190/studiophotocreation/english-weddings/danielle-nikole/SPC_0721_v6ltkt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382192/studiophotocreation/english-weddings/danielle-nikole/SPC_0724_wq8tla.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382190/studiophotocreation/english-weddings/danielle-nikole/SPC_0726_eqj0oe.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382190/studiophotocreation/english-weddings/danielle-nikole/SPC_0736_lbzxct.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382192/studiophotocreation/english-weddings/danielle-nikole/SPC_0754_seulok.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382192/studiophotocreation/english-weddings/danielle-nikole/SPC_0756_zm6flp.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382192/studiophotocreation/english-weddings/danielle-nikole/SPC_0766_sf1kfd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382193/studiophotocreation/english-weddings/danielle-nikole/SPC_0774_iknxxm.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382195/studiophotocreation/english-weddings/danielle-nikole/SPC_0807_dqt4vt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382193/studiophotocreation/english-weddings/danielle-nikole/SPC_0808_xx4ddk.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382194/studiophotocreation/english-weddings/danielle-nikole/SPC_0822_zulqwb.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382194/studiophotocreation/english-weddings/danielle-nikole/SPC_0825_vzwzlq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382197/studiophotocreation/english-weddings/danielle-nikole/SPC_0870_d2uztc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382195/studiophotocreation/english-weddings/danielle-nikole/SPC_0880_mwpoly.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382195/studiophotocreation/english-weddings/danielle-nikole/SPC_0894_ep7gj3.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382199/studiophotocreation/english-weddings/danielle-nikole/SPC_0907_icagyd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382200/studiophotocreation/english-weddings/danielle-nikole/SPC_0946_sqr2va.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382199/studiophotocreation/english-weddings/danielle-nikole/SPC_0947_mg4cuh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382199/studiophotocreation/english-weddings/danielle-nikole/SPC_0983_jjjyfq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382199/studiophotocreation/english-weddings/danielle-nikole/SPC_0994_jlylwg.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382200/studiophotocreation/english-weddings/danielle-nikole/SPC_1018_yu2x8s.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382201/studiophotocreation/english-weddings/danielle-nikole/SPC_1036_l1l1ib.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382202/studiophotocreation/english-weddings/danielle-nikole/SPC_1064_wvvk8u.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>