<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Danielle's and Nikole's wedding in Paphos, Cyprus">
        <title>Danielle and Nikole wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567963/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0006_nq2eyz.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567963/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0011_ao6rk7.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567963/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0018_d0elvc.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567962/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0019_mg8nxm.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567963/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0025_ibr1th.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0029_fsbohp.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0033_yanlo9.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0034_jlab79.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0044_okxhkc.webp"
                        alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0054_cgieef.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0055_eepqow.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0058_de309a.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0060_bva9fw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0066_ugvphw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0034_jlab79.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0044_okxhkc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567964/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0054_cgieef.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0055_eepqow.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0058_de309a.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0060_bva9fw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0066_ugvphw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0067_i5pi55.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567965/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0071_zxsw2c.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567967/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0074_jihonb.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567966/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0080_llpqx2.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567967/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0084_dyujgt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567967/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0090_hfitbl.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567968/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0099_uwh9jj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567968/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0103_vh2d7q.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567967/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0109_n0cwwv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567968/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0113_nxgq4q.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567968/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0115_id4erg.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567969/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0117_o83aey.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567969/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0126_iz32tu.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567971/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0132_zcebjf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567969/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0135_zzh8hr.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567969/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0140_h5skx2.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567969/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0152_lzxi6m.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567971/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0164_sjk5gk.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567972/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0166_eoateg.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567971/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0170_ib3obd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567976/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0177_sk31du.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567971/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0187_hnuxfp.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567973/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0190_adtqxf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567973/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0192_vt2ncm.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567975/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0202_l0rjv2.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567973/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0205_ogukdt.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567973/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0206_s07jio.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567975/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0214_yi4ms3.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567975/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0217_gqadcw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567975/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0220_dcnroe.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567975/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0222_ry1aye.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567977/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0228_wsttyf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567977/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0243_p0xqog.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567977/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0249_f5k95z.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567977/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0250_d577ic.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567978/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0257_tbldwp.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567980/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0263_x2iwti.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567978/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0270_ruwrh8.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567979/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0275_zxjctd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567979/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0278_mgrmhd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567980/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0282_ysptau.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567979/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0301_i90mbq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567979/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0303_dxfttr.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567983/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0305_eqzd7m.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567982/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0334_syfcuh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567983/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0339_nwnqfy.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567985/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0344_lndejb.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567986/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0347_cvohf3.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567986/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0350_qbnnzx.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567984/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0357_qrycud.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567986/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0362_mezssz.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567984/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0374_yo2mrc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567985/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0375_emlrp5.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567987/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0382_qnpsw0.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567987/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0384_fzenlc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567986/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0389_pdfrd8.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567987/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0395_w2mace.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567987/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0403_x21cjk.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567988/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0406_ulggnw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567988/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0411_ecfsmb.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567989/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0501_i94tge.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567989/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0505_bproso.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567989/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0507_az0usu.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567991/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0576_qnbwst.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567990/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0620_jcqj6q.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567992/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0640_gvjwaw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567991/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0645_qn5mtj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567991/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0652_jy5pjr.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567992/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0658_okpjhc.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567992/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0663_gdbrba.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567992/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0669_gw66gh.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0671_uxij7g.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567993/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0675_bbrrul.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0677_y1lvi5.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567993/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0680_oz8l5m.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0683_auriw7.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0688_gdnp81.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0693_qxv5w7.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0696_ammktf.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0697_fclhdj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567995/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0707_q3qsvq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567995/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0712_sadhnv.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567995/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0718_r9pc90.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567995/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0721_mnkmcy.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567996/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0724_bif8au.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567995/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0726_gzdmvy.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567996/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0736_yzdna7.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567996/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0754_cydsre.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567996/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0756_bnhvrz.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567996/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0766_i3dhib.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567997/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0774_toobal.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567999/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0807_oipy6z.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567997/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0808_ajtnbd.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567997/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0822_dggjoq.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567997/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0825_v7sypl.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567998/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0870_rtiqyj.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567998/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0880_cw73ph.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567999/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0894_oaprtm.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568000/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0907_lz4dq6.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568000/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0946_sl2zh5.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568000/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0947_nabbe6.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568001/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0983_kns2sx.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568002/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0994_wnafiw.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568002/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_1018_bg3pwz.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568002/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_1036_sq1cuy.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568001/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_1064_dean7q.webp"
                        loading="lazy" alt="A photo from Danielle's and Nikole's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>