<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Denika's and David's wedding in Paphos, Cyprus">
        <title>Denika and David wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382246/studiophotocreation/english-weddings/denika-david/SPC_0003_rw4dbo.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382246/studiophotocreation/english-weddings/denika-david/SPC_0004_i3valn.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382247/studiophotocreation/english-weddings/denika-david/SPC_0007_wubgge.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382246/studiophotocreation/english-weddings/denika-david/SPC_0008_liqld3.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382247/studiophotocreation/english-weddings/denika-david/SPC_0009_zelfrs.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382246/studiophotocreation/english-weddings/denika-david/SPC_0010_rpeedr.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382248/studiophotocreation/english-weddings/denika-david/SPC_0013_hgcfx8.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382248/studiophotocreation/english-weddings/denika-david/SPC_0014_vjqsza.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382248/studiophotocreation/english-weddings/denika-david/SPC_0015_yset85.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0016_acw1g2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382249/studiophotocreation/english-weddings/denika-david/SPC_0017_wkd7q5.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382249/studiophotocreation/english-weddings/denika-david/SPC_0022_ljhmdf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0026_gyowjh.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0029_rb9qs8.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0050_g7pwzp.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0053_qbcxq0.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382250/studiophotocreation/english-weddings/denika-david/SPC_0056_bzbidk.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382252/studiophotocreation/english-weddings/denika-david/SPC_0060_bcfpzq.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382252/studiophotocreation/english-weddings/denika-david/SPC_0072_yicssv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382253/studiophotocreation/english-weddings/denika-david/SPC_0075_usgikr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382253/studiophotocreation/english-weddings/denika-david/SPC_0083_yroiag.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382254/studiophotocreation/english-weddings/denika-david/SPC_0087_woumx9.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382254/studiophotocreation/english-weddings/denika-david/SPC_0091_a1ngqo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382255/studiophotocreation/english-weddings/denika-david/SPC_0094_xuvirg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382254/studiophotocreation/english-weddings/denika-david/SPC_0097_qm46la.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382254/studiophotocreation/english-weddings/denika-david/SPC_0101_nmg4go.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382256/studiophotocreation/english-weddings/denika-david/SPC_0107_j1fsf3.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382256/studiophotocreation/english-weddings/denika-david/SPC_0110_i5alh2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382256/studiophotocreation/english-weddings/denika-david/SPC_0115_qr8xib.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382256/studiophotocreation/english-weddings/denika-david/SPC_0122_ivhu6x.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382256/studiophotocreation/english-weddings/denika-david/SPC_0127_at2ncr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382257/studiophotocreation/english-weddings/denika-david/SPC_0131_d40hcs.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382257/studiophotocreation/english-weddings/denika-david/SPC_0134_z8yxdw.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382257/studiophotocreation/english-weddings/denika-david/SPC_0144_ve4zsp.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382257/studiophotocreation/english-weddings/denika-david/SPC_0154_qwnpn5.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382258/studiophotocreation/english-weddings/denika-david/SPC_0156_x3lkyw.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382261/studiophotocreation/english-weddings/denika-david/SPC_0180_gpdrpx.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382259/studiophotocreation/english-weddings/denika-david/SPC_0189_h9yeux.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382259/studiophotocreation/english-weddings/denika-david/SPC_0191_x8gkln.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382263/studiophotocreation/english-weddings/denika-david/SPC_0200_uzajxl.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382260/studiophotocreation/english-weddings/denika-david/SPC_0206_rulx6z.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382261/studiophotocreation/english-weddings/denika-david/SPC_0217_r600fk.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382264/studiophotocreation/english-weddings/denika-david/SPC_0219_dtm4rq.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382263/studiophotocreation/english-weddings/denika-david/SPC_0231_aurpx1.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382262/studiophotocreation/english-weddings/denika-david/SPC_0236_xnvimo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382264/studiophotocreation/english-weddings/denika-david/SPC_0242_u32pxc.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382264/studiophotocreation/english-weddings/denika-david/SPC_0248_apwrse.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382263/studiophotocreation/english-weddings/denika-david/SPC_0284_m0czet.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382268/studiophotocreation/english-weddings/denika-david/SPC_0286_ifa12h.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382265/studiophotocreation/english-weddings/denika-david/SPC_0290_yk4nbr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382265/studiophotocreation/english-weddings/denika-david/SPC_0291_vfdj58.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382268/studiophotocreation/english-weddings/denika-david/SPC_0294_pdehr8.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382267/studiophotocreation/english-weddings/denika-david/SPC_0302_vlhz22.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382267/studiophotocreation/english-weddings/denika-david/SPC_0312_fk40h9.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382267/studiophotocreation/english-weddings/denika-david/SPC_0315_l3bnof.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382267/studiophotocreation/english-weddings/denika-david/SPC_0318_xinlph.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382271/studiophotocreation/english-weddings/denika-david/SPC_0321_magex0.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382269/studiophotocreation/english-weddings/denika-david/SPC_0323_sbqn2h.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382273/studiophotocreation/english-weddings/denika-david/SPC_0325_kd8qun.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382275/studiophotocreation/english-weddings/denika-david/SPC_0326_umahmn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382276/studiophotocreation/english-weddings/denika-david/SPC_0331_ma2fbz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382271/studiophotocreation/english-weddings/denika-david/SPC_0332_zowvn6.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382279/studiophotocreation/english-weddings/denika-david/SPC_0339_ci8wbw.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382277/studiophotocreation/english-weddings/denika-david/SPC_0344_nhrvzb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382278/studiophotocreation/english-weddings/denika-david/SPC_0348_aacapk.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382280/studiophotocreation/english-weddings/denika-david/SPC_0350_vfzopl.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382277/studiophotocreation/english-weddings/denika-david/SPC_0352_iopydp.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382284/studiophotocreation/english-weddings/denika-david/SPC_0357_ea2fmm.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382283/studiophotocreation/english-weddings/denika-david/SPC_0358_v7eprd.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382283/studiophotocreation/english-weddings/denika-david/SPC_0360_e3isnk.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382282/studiophotocreation/english-weddings/denika-david/SPC_0361_ivjd0i.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382284/studiophotocreation/english-weddings/denika-david/SPC_0367_h4bz6b.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382285/studiophotocreation/english-weddings/denika-david/SPC_0370_eg0se0.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382287/studiophotocreation/english-weddings/denika-david/SPC_0372_llptjg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382285/studiophotocreation/english-weddings/denika-david/SPC_0374_krw907.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382289/studiophotocreation/english-weddings/denika-david/SPC_0382_vabdcz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382291/studiophotocreation/english-weddings/denika-david/SPC_0385_m7yaea.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382289/studiophotocreation/english-weddings/denika-david/SPC_0389_iz1nxg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382289/studiophotocreation/english-weddings/denika-david/SPC_0394_ykcfsc.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382287/studiophotocreation/english-weddings/denika-david/SPC_0401_i3tq5m.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382289/studiophotocreation/english-weddings/denika-david/SPC_0403_sgxkhv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382292/studiophotocreation/english-weddings/denika-david/SPC_0412_lvkfr8.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382291/studiophotocreation/english-weddings/denika-david/SPC_0424_cozour.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382291/studiophotocreation/english-weddings/denika-david/SPC_0427_ahxxwr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382291/studiophotocreation/english-weddings/denika-david/SPC_0433_mwxzfr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382291/studiophotocreation/english-weddings/denika-david/SPC_0434_ktnkl8.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382294/studiophotocreation/english-weddings/denika-david/SPC_0439_y9xrow.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382294/studiophotocreation/english-weddings/denika-david/SPC_0444_lecpyg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382294/studiophotocreation/english-weddings/denika-david/SPC_0612_xpehfp.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382294/studiophotocreation/english-weddings/denika-david/SPC_0614_ue7pyn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382296/studiophotocreation/english-weddings/denika-david/SPC_0621_dsimji.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382294/studiophotocreation/english-weddings/denika-david/SPC_0642_havr3f.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382296/studiophotocreation/english-weddings/denika-david/SPC_0648_xt9yry.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382298/studiophotocreation/english-weddings/denika-david/SPC_0652_yandut.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382296/studiophotocreation/english-weddings/denika-david/SPC_0658_lwdfov.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382296/studiophotocreation/english-weddings/denika-david/SPC_0659_t2tftl.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382296/studiophotocreation/english-weddings/denika-david/SPC_0669_yefsrn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382297/studiophotocreation/english-weddings/denika-david/SPC_0671_v9vhpb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382297/studiophotocreation/english-weddings/denika-david/SPC_0678_jygtii.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382297/studiophotocreation/english-weddings/denika-david/SPC_0683_uwkond.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382297/studiophotocreation/english-weddings/denika-david/SPC_0686_pg2hp8.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382300/studiophotocreation/english-weddings/denika-david/SPC_0690_oyyzki.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382298/studiophotocreation/english-weddings/denika-david/SPC_0701_rn1t45.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382298/studiophotocreation/english-weddings/denika-david/SPC_0717_emm24l.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382299/studiophotocreation/english-weddings/denika-david/SPC_0719_nqhq46.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382299/studiophotocreation/english-weddings/denika-david/SPC_0730_zdtj9j.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382299/studiophotocreation/english-weddings/denika-david/SPC_0731_apfkoo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382299/studiophotocreation/english-weddings/denika-david/SPC_0733_ngrjmb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382300/studiophotocreation/english-weddings/denika-david/SPC_0761_m7i5j2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382303/studiophotocreation/english-weddings/denika-david/SPC_0789_fmv30d.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382302/studiophotocreation/english-weddings/denika-david/SPC_0797_ekqxqf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382302/studiophotocreation/english-weddings/denika-david/SPC_0801_zrmp1d.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382302/studiophotocreation/english-weddings/denika-david/SPC_0805_vb6zbg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382303/studiophotocreation/english-weddings/denika-david/SPC_0807_wjt9ku.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382303/studiophotocreation/english-weddings/denika-david/SPC_0808_a9szae.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382304/studiophotocreation/english-weddings/denika-david/SPC_0812_dcywdl.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382305/studiophotocreation/english-weddings/denika-david/SPC_0818_b28rgm.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382304/studiophotocreation/english-weddings/denika-david/SPC_0824_pawjkq.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382307/studiophotocreation/english-weddings/denika-david/SPC_0829_gws2oi.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382305/studiophotocreation/english-weddings/denika-david/SPC_0832_noj8yv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382306/studiophotocreation/english-weddings/denika-david/SPC_0839_ue4y23.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382306/studiophotocreation/english-weddings/denika-david/SPC_0845_nemxav.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382306/studiophotocreation/english-weddings/denika-david/SPC_0846_dno2e3.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382306/studiophotocreation/english-weddings/denika-david/SPC_0848_azjhtx.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382308/studiophotocreation/english-weddings/denika-david/SPC_0851_vegoyv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>