<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Denika's and David's wedding in Paphos, Cyprus">
        <title>Denika and David wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0003_ym6z78.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0004_ow1py5.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0007_zqffzv.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0008_lzcoqk.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0009_kqy6hy.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0010_w6plko.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568126/studiophotocreation/english-weddings/denika-david.v2/SPC_0013_qdr1zo.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568128/studiophotocreation/english-weddings/denika-david.v2/SPC_0014_sauv3m.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568128/studiophotocreation/english-weddings/denika-david.v2/SPC_0015_iyyrdn.webp"
                        alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568127/studiophotocreation/english-weddings/denika-david.v2/SPC_0016_koalce.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568128/studiophotocreation/english-weddings/denika-david.v2/SPC_0017_scnqrv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568127/studiophotocreation/english-weddings/denika-david.v2/SPC_0022_ik9esi.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568130/studiophotocreation/english-weddings/denika-david.v2/SPC_0026_ammjyo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568128/studiophotocreation/english-weddings/denika-david.v2/SPC_0029_nrrgxr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568128/studiophotocreation/english-weddings/denika-david.v2/SPC_0050_h3fqm2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568129/studiophotocreation/english-weddings/denika-david.v2/SPC_0053_ohsjcj.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568129/studiophotocreation/english-weddings/denika-david.v2/SPC_0056_qsfdav.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568129/studiophotocreation/english-weddings/denika-david.v2/SPC_0060_npz9mg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568130/studiophotocreation/english-weddings/denika-david.v2/SPC_0072_ozupq5.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568131/studiophotocreation/english-weddings/denika-david.v2/SPC_0075_dxauea.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568132/studiophotocreation/english-weddings/denika-david.v2/SPC_0083_xiogw1.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568130/studiophotocreation/english-weddings/denika-david.v2/SPC_0087_asajho.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568131/studiophotocreation/english-weddings/denika-david.v2/SPC_0091_vju30w.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568131/studiophotocreation/english-weddings/denika-david.v2/SPC_0094_f3cs3r.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568131/studiophotocreation/english-weddings/denika-david.v2/SPC_0097_itejmr.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568132/studiophotocreation/english-weddings/denika-david.v2/SPC_0101_nxqi9c.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568132/studiophotocreation/english-weddings/denika-david.v2/SPC_0107_jia6kt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568132/studiophotocreation/english-weddings/denika-david.v2/SPC_0110_xjfsv2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0115_axvjuc.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568132/studiophotocreation/english-weddings/denika-david.v2/SPC_0122_jknufy.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0127_wybkkz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0131_ltyhnm.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0134_ynl61d.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0144_l7km61.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0154_v55ni7.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568134/studiophotocreation/english-weddings/denika-david.v2/SPC_0156_btbva2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0180_xhufes.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0189_kmzdj1.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0191_gq9okf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0200_impzot.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0206_tcqzgt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568135/studiophotocreation/english-weddings/denika-david.v2/SPC_0217_mrnwzl.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568136/studiophotocreation/english-weddings/denika-david.v2/SPC_0219_ymky1n.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0231_eb7buf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0236_abp5iw.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0242_kzb2wg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0248_yz6e19.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568136/studiophotocreation/english-weddings/denika-david.v2/SPC_0284_trf6gn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0286_rv1qt0.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568137/studiophotocreation/english-weddings/denika-david.v2/SPC_0290_h4dujt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568138/studiophotocreation/english-weddings/denika-david.v2/SPC_0291_diyndd.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568138/studiophotocreation/english-weddings/denika-david.v2/SPC_0294_ghnhy1.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568138/studiophotocreation/english-weddings/denika-david.v2/SPC_0302_isifhx.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568138/studiophotocreation/english-weddings/denika-david.v2/SPC_0312_iccdfv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568139/studiophotocreation/english-weddings/denika-david.v2/SPC_0315_qdxznt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568139/studiophotocreation/english-weddings/denika-david.v2/SPC_0318_mh314i.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568142/studiophotocreation/english-weddings/denika-david.v2/SPC_0321_kgcwjo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568139/studiophotocreation/english-weddings/denika-david.v2/SPC_0323_pkoexv.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568145/studiophotocreation/english-weddings/denika-david.v2/SPC_0325_xu0jxs.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568144/studiophotocreation/english-weddings/denika-david.v2/SPC_0326_bqaq6a.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568141/studiophotocreation/english-weddings/denika-david.v2/SPC_0331_ahi8k5.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568141/studiophotocreation/english-weddings/denika-david.v2/SPC_0332_bell6x.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568146/studiophotocreation/english-weddings/denika-david.v2/SPC_0339_pu1umb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568144/studiophotocreation/english-weddings/denika-david.v2/SPC_0344_tf8zht.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568145/studiophotocreation/english-weddings/denika-david.v2/SPC_0348_zphqty.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568147/studiophotocreation/english-weddings/denika-david.v2/SPC_0350_q1kk6j.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568146/studiophotocreation/english-weddings/denika-david.v2/SPC_0352_nbo3im.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568148/studiophotocreation/english-weddings/denika-david.v2/SPC_0357_jeazwn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568149/studiophotocreation/english-weddings/denika-david.v2/SPC_0358_tetbvz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568150/studiophotocreation/english-weddings/denika-david.v2/SPC_0360_o2h16q.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568149/studiophotocreation/english-weddings/denika-david.v2/SPC_0361_ztuowp.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568148/studiophotocreation/english-weddings/denika-david.v2/SPC_0367_s7qgcn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568149/studiophotocreation/english-weddings/denika-david.v2/SPC_0370_haksio.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568152/studiophotocreation/english-weddings/denika-david.v2/SPC_0372_jbw6b7.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568150/studiophotocreation/english-weddings/denika-david.v2/SPC_0374_tj9huj.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568153/studiophotocreation/english-weddings/denika-david.v2/SPC_0382_ygqw4n.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568153/studiophotocreation/english-weddings/denika-david.v2/SPC_0385_vefla1.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568154/studiophotocreation/english-weddings/denika-david.v2/SPC_0389_oi5o05.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568153/studiophotocreation/english-weddings/denika-david.v2/SPC_0394_zhql3q.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568153/studiophotocreation/english-weddings/denika-david.v2/SPC_0401_ipjqml.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568154/studiophotocreation/english-weddings/denika-david.v2/SPC_0403_m4btin.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568156/studiophotocreation/english-weddings/denika-david.v2/SPC_0412_pbm183.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568155/studiophotocreation/english-weddings/denika-david.v2/SPC_0424_eap7jn.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568155/studiophotocreation/english-weddings/denika-david.v2/SPC_0427_kyoge2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568155/studiophotocreation/english-weddings/denika-david.v2/SPC_0433_xnpok4.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568155/studiophotocreation/english-weddings/denika-david.v2/SPC_0434_fo0dbt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568156/studiophotocreation/english-weddings/denika-david.v2/SPC_0439_auwqet.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568157/studiophotocreation/english-weddings/denika-david.v2/SPC_0444_belsf7.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0612_i7uaqf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0614_glk41e.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0621_ch9t68.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0642_pvb5wu.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568157/studiophotocreation/english-weddings/denika-david.v2/SPC_0648_idiudb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568159/studiophotocreation/english-weddings/denika-david.v2/SPC_0652_kk1swy.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0658_jssdtt.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568158/studiophotocreation/english-weddings/denika-david.v2/SPC_0659_nvedxx.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568159/studiophotocreation/english-weddings/denika-david.v2/SPC_0669_kbtgvm.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568159/studiophotocreation/english-weddings/denika-david.v2/SPC_0671_kbrnah.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568160/studiophotocreation/english-weddings/denika-david.v2/SPC_0678_acvoo9.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568159/studiophotocreation/english-weddings/denika-david.v2/SPC_0683_r4ei5x.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568159/studiophotocreation/english-weddings/denika-david.v2/SPC_0686_sl51lf.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0690_xvogpo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568160/studiophotocreation/english-weddings/denika-david.v2/SPC_0701_xl9zk2.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568160/studiophotocreation/english-weddings/denika-david.v2/SPC_0717_pirxro.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0719_dx6pgz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0730_wgocsb.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0731_cci8r0.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0733_wxtw6o.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568161/studiophotocreation/english-weddings/denika-david.v2/SPC_0761_nivv30.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0789_ltf1vs.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568162/studiophotocreation/english-weddings/denika-david.v2/SPC_0797_eudemo.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568163/studiophotocreation/english-weddings/denika-david.v2/SPC_0801_g6tqda.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568162/studiophotocreation/english-weddings/denika-david.v2/SPC_0805_h6gvla.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568163/studiophotocreation/english-weddings/denika-david.v2/SPC_0807_wspbri.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568163/studiophotocreation/english-weddings/denika-david.v2/SPC_0808_zbiwea.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0812_vfrmvw.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0818_u5ag2a.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0824_lq167h.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568165/studiophotocreation/english-weddings/denika-david.v2/SPC_0829_tyaygg.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0832_rftuth.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568164/studiophotocreation/english-weddings/denika-david.v2/SPC_0839_axbg1z.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568165/studiophotocreation/english-weddings/denika-david.v2/SPC_0845_qil49n.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568165/studiophotocreation/english-weddings/denika-david.v2/SPC_0846_hrkxsz.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568165/studiophotocreation/english-weddings/denika-david.v2/SPC_0848_sqnvi3.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568165/studiophotocreation/english-weddings/denika-david.v2/SPC_0851_nn2zps.webp"
                        loading="lazy" alt="A photo from Denika's and David's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>