<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Dianne's and Terry's wedding in Paphos, Cyprus">
        <title>Dianne and Terry wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG" src="" loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>