<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Dianne's and Terry's wedding in Paphos, Cyprus">
        <title>Dianne and Terry wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382366/studiophotocreation/english-weddings/dianne-terry/SPC_0001_cw6gyc.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382368/studiophotocreation/english-weddings/dianne-terry/SPC_0004_ikuah5.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382365/studiophotocreation/english-weddings/dianne-terry/SPC_0020_zjdln3.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382366/studiophotocreation/english-weddings/dianne-terry/SPC_0022_gequi0.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382365/studiophotocreation/english-weddings/dianne-terry/SPC_0025_x7mzue.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382366/studiophotocreation/english-weddings/dianne-terry/SPC_0030_ki9kkr.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382369/studiophotocreation/english-weddings/dianne-terry/SPC_0038_f3z8oj.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382368/studiophotocreation/english-weddings/dianne-terry/SPC_0042_opfw2q.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382369/studiophotocreation/english-weddings/dianne-terry/SPC_0051_i6eiwl.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382369/studiophotocreation/english-weddings/dianne-terry/SPC_0057_voflhd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382370/studiophotocreation/english-weddings/dianne-terry/SPC_0067_jm7pcj.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382370/studiophotocreation/english-weddings/dianne-terry/SPC_0069_ydwlbv.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382372/studiophotocreation/english-weddings/dianne-terry/SPC_0073_fcsvss.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382373/studiophotocreation/english-weddings/dianne-terry/SPC_0076_rqbfsh.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382374/studiophotocreation/english-weddings/dianne-terry/SPC_0079_krxyek.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382373/studiophotocreation/english-weddings/dianne-terry/SPC_0081_ru1pmz.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382374/studiophotocreation/english-weddings/dianne-terry/SPC_0084_pq0l06.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382373/studiophotocreation/english-weddings/dianne-terry/SPC_0096_gyocx8.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382376/studiophotocreation/english-weddings/dianne-terry/SPC_0103_rd3euq.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382377/studiophotocreation/english-weddings/dianne-terry/SPC_0110_qekhrb.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382378/studiophotocreation/english-weddings/dianne-terry/SPC_0112_m7qpwz.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382383/studiophotocreation/english-weddings/dianne-terry/SPC_0117_zb46ds.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382384/studiophotocreation/english-weddings/dianne-terry/SPC_0124_n0pgeh.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382376/studiophotocreation/english-weddings/dianne-terry/SPC_0137_jvqydx.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382378/studiophotocreation/english-weddings/dianne-terry/SPC_0164_inmfxj.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382381/studiophotocreation/english-weddings/dianne-terry/SPC_0170_g7jk2q.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382378/studiophotocreation/english-weddings/dianne-terry/SPC_0176_czpgsd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382383/studiophotocreation/english-weddings/dianne-terry/SPC_0178_nuzzpr.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382386/studiophotocreation/english-weddings/dianne-terry/SPC_0180_xrdqyp.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382382/studiophotocreation/english-weddings/dianne-terry/SPC_0182_mquxzs.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382386/studiophotocreation/english-weddings/dianne-terry/SPC_0183_eaafu0.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382386/studiophotocreation/english-weddings/dianne-terry/SPC_0187_yza4gk.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382389/studiophotocreation/english-weddings/dianne-terry/SPC_0190_c4skfa.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382385/studiophotocreation/english-weddings/dianne-terry/SPC_0191_sjeubx.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382386/studiophotocreation/english-weddings/dianne-terry/SPC_0193_krrwar.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382388/studiophotocreation/english-weddings/dianne-terry/SPC_0196_ttm0nr.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382389/studiophotocreation/english-weddings/dianne-terry/SPC_0200_ducidw.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382388/studiophotocreation/english-weddings/dianne-terry/SPC_0209_cre2ij.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382388/studiophotocreation/english-weddings/dianne-terry/SPC_0211_lsn53a.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382394/studiophotocreation/english-weddings/dianne-terry/SPC_0217_ysw9sz.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382391/studiophotocreation/english-weddings/dianne-terry/SPC_0228_m36kzb.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382392/studiophotocreation/english-weddings/dianne-terry/SPC_0236_fviq9u.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382391/studiophotocreation/english-weddings/dianne-terry/SPC_0238_uztjmb.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382399/studiophotocreation/english-weddings/dianne-terry/SPC_0246_bjmndi.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382397/studiophotocreation/english-weddings/dianne-terry/SPC_0248_pr9qt0.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382397/studiophotocreation/english-weddings/dianne-terry/SPC_0335_fsu6li.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382400/studiophotocreation/english-weddings/dianne-terry/SPC_0336_hgoglh.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382397/studiophotocreation/english-weddings/dianne-terry/SPC_0340_ptmfpg.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382399/studiophotocreation/english-weddings/dianne-terry/SPC_0341_fmnczb.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382404/studiophotocreation/english-weddings/dianne-terry/SPC_0352_mhr4wr.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382403/studiophotocreation/english-weddings/dianne-terry/SPC_0357_ynu2sv.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382400/studiophotocreation/english-weddings/dianne-terry/SPC_0364_rcdxot.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382402/studiophotocreation/english-weddings/dianne-terry/SPC_0369_g6dtpa.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382402/studiophotocreation/english-weddings/dianne-terry/SPC_0373_ta9jml.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382404/studiophotocreation/english-weddings/dianne-terry/SPC_0375_dmffou.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382404/studiophotocreation/english-weddings/dianne-terry/SPC_0377_ykommn.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382406/studiophotocreation/english-weddings/dianne-terry/SPC_0382_c9xbgc.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382406/studiophotocreation/english-weddings/dianne-terry/SPC_0384_pt6pqm.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382404/studiophotocreation/english-weddings/dianne-terry/SPC_0386_r8kbiw.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382407/studiophotocreation/english-weddings/dianne-terry/SPC_0392_h0szne.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382406/studiophotocreation/english-weddings/dianne-terry/SPC_0393_rei6nw.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382406/studiophotocreation/english-weddings/dianne-terry/SPC_0395_xsveik.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382405/studiophotocreation/english-weddings/dianne-terry/SPC_0399_dkukb1.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382408/studiophotocreation/english-weddings/dianne-terry/SPC_0401_xuxdut.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382407/studiophotocreation/english-weddings/dianne-terry/SPC_0404_scwdnd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382409/studiophotocreation/english-weddings/dianne-terry/SPC_0407_lgfhlu.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382408/studiophotocreation/english-weddings/dianne-terry/SPC_0413_x1bpx9.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382408/studiophotocreation/english-weddings/dianne-terry/SPC_0423_umzidg.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382410/studiophotocreation/english-weddings/dianne-terry/SPC_0427_k60uvo.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382409/studiophotocreation/english-weddings/dianne-terry/SPC_0432_ogfnxf.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382409/studiophotocreation/english-weddings/dianne-terry/SPC_0437_pbus2j.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382410/studiophotocreation/english-weddings/dianne-terry/SPC_0444_aswrpc.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382410/studiophotocreation/english-weddings/dianne-terry/SPC_0449_bpqlje.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382410/studiophotocreation/english-weddings/dianne-terry/SPC_0455_kb3buy.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382412/studiophotocreation/english-weddings/dianne-terry/SPC_0471_com4zh.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382414/studiophotocreation/english-weddings/dianne-terry/SPC_0473_lw9csd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>