<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Dianne's and Terry's wedding in Paphos, Cyprus">
        <title>Dianne and Terry wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568214/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0001_zrg0ih.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568215/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0004_kuztk3.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568214/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0020_krqncy.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568214/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0022_usfkyr.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568213/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0025_lyymjo.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568214/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0030_sx0bpj.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568215/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0038_ufkaph.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568216/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0042_u9q1y1.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568216/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0051_yzjxc5.webp"
                        alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568216/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0057_znvfhu.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568217/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0067_kru3th.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568217/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0069_vedham.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568217/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0073_ahrzj9.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568219/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0076_z7jvla.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568218/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0079_yuxkcb.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568219/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0081_bkwon0.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568218/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0084_pvk1dy.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568219/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0096_lwlj4k.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568221/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0103_shqud2.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568221/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0110_qgjaxq.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568221/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0112_xzau4b.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568221/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0117_lr4kr6.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568224/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0124_e3n4fv.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568222/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0137_v7qf5m.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568223/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0164_laoe5q.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568223/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0170_vqq7hs.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568222/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0176_nqids4.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568224/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0178_b2x65d.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568226/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0180_kmaxg4.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568224/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0182_bu3ipm.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568225/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0183_uxepew.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568226/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0187_gystxx.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568225/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0190_np1sox.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568225/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0191_kuo4z6.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568225/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0193_zyvpdm.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568226/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0196_tjaawy.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568226/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0200_zxbamd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568227/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0209_arknod.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568226/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0211_ypsxsc.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568232/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0217_sfkrzx.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568228/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0228_eq59dm.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568228/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0236_kpxcmg.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568228/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0238_nxsrfu.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568230/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0246_rwhaoz.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568231/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0248_iokhji.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568231/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0335_dfikz6.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568232/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0336_bqrgjl.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568231/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0340_hnwvql.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568233/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0341_vxpsbv.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568234/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0352_bcvkjh.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568235/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0357_fz5jnx.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568233/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0364_kb4sy6.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568233/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0369_j4yztd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568235/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0373_rgv5nj.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568234/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0375_gsahzt.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568235/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0377_b4c43o.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568235/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0382_xq3y18.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568235/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0384_xv30r4.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568236/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0386_j7h0tm.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568236/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0392_p9zm6t.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568237/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0393_teqwoc.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568237/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0395_sxc8ue.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568237/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0399_nwnvab.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568238/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0401_clztbi.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568237/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0404_tqrym9.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568237/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0407_ugswvt.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0413_wpo4iz.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568238/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0423_agjwep.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0427_iahntc.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568238/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0432_pi6o0m.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0437_owm8su.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0444_vwsb3y.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0449_ol0vkd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568239/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0455_z5hxuf.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568242/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0471_lqkkwd.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568241/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0473_enqrvi.webp"
                        loading="lazy" alt="A photo from Dianne's and Terry's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>