<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Megan's and Lee's wedding in Paphos, Cyprus">
        <title>Megan and Lee wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382602/studiophotocreation/english-weddings/megan-lee/SPC_0141_qmtpct.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382602/studiophotocreation/english-weddings/megan-lee/SPC_0143_zbvga1.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382602/studiophotocreation/english-weddings/megan-lee/SPC_0155_wwrtox.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382603/studiophotocreation/english-weddings/megan-lee/SPC_0158_sauu0a.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382602/studiophotocreation/english-weddings/megan-lee/SPC_0160_jgxpxb.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382604/studiophotocreation/english-weddings/megan-lee/SPC_0161_em9vzt.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382603/studiophotocreation/english-weddings/megan-lee/SPC_0163_m1t4i8.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382604/studiophotocreation/english-weddings/megan-lee/SPC_0168_ppu6cq.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382603/studiophotocreation/english-weddings/megan-lee/SPC_0171_olfzai.webp"
                        alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382604/studiophotocreation/english-weddings/megan-lee/SPC_0178_hxic4z.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382604/studiophotocreation/english-weddings/megan-lee/SPC_0180_ckxckg.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382605/studiophotocreation/english-weddings/megan-lee/SPC_0182_cxunxl.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382605/studiophotocreation/english-weddings/megan-lee/SPC_0190_tzcwey.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382605/studiophotocreation/english-weddings/megan-lee/SPC_0193_qisbfv.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382607/studiophotocreation/english-weddings/megan-lee/SPC_0199_z6mdkt.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382605/studiophotocreation/english-weddings/megan-lee/SPC_0206_vuwga1.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382606/studiophotocreation/english-weddings/megan-lee/SPC_0215_iziwev.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382608/studiophotocreation/english-weddings/megan-lee/SPC_0220_yfbx03.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382607/studiophotocreation/english-weddings/megan-lee/SPC_0221_hlejau.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382609/studiophotocreation/english-weddings/megan-lee/SPC_0223_ns4ruu.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382608/studiophotocreation/english-weddings/megan-lee/SPC_0227_j6qspe.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382607/studiophotocreation/english-weddings/megan-lee/SPC_0233_tdofd7.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382609/studiophotocreation/english-weddings/megan-lee/SPC_0234_p3l60k.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382610/studiophotocreation/english-weddings/megan-lee/SPC_0236_ugnomz.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382608/studiophotocreation/english-weddings/megan-lee/SPC_0239_myswks.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382609/studiophotocreation/english-weddings/megan-lee/SPC_0254_mgblm7.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382609/studiophotocreation/english-weddings/megan-lee/SPC_0260_zkcmpz.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382610/studiophotocreation/english-weddings/megan-lee/SPC_0270_qz8wxo.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382612/studiophotocreation/english-weddings/megan-lee/SPC_0280_m2pg0c.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382610/studiophotocreation/english-weddings/megan-lee/SPC_0286_mmzeq9.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382614/studiophotocreation/english-weddings/megan-lee/SPC_0315_kamh3s.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382614/studiophotocreation/english-weddings/megan-lee/SPC_0321_ystai8.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382612/studiophotocreation/english-weddings/megan-lee/SPC_0322_zb5h0w.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382614/studiophotocreation/english-weddings/megan-lee/SPC_0332_ppmyfa.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382614/studiophotocreation/english-weddings/megan-lee/SPC_0334_qbjrmi.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382614/studiophotocreation/english-weddings/megan-lee/SPC_0339_rykbs4.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382620/studiophotocreation/english-weddings/megan-lee/SPC_0346_h7mnfy.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382623/studiophotocreation/english-weddings/megan-lee/SPC_0355_r2gs1n.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382619/studiophotocreation/english-weddings/megan-lee/SPC_0357_cyxtip.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382618/studiophotocreation/english-weddings/megan-lee/SPC_0367_vzyw57.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382619/studiophotocreation/english-weddings/megan-lee/SPC_0371_opk4g0.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382617/studiophotocreation/english-weddings/megan-lee/SPC_0376_s618cw.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382620/studiophotocreation/english-weddings/megan-lee/SPC_0382_zuh6he.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382620/studiophotocreation/english-weddings/megan-lee/SPC_0391_yykk6e.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382621/studiophotocreation/english-weddings/megan-lee/SPC_0400_ririka.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382623/studiophotocreation/english-weddings/megan-lee/SPC_0402_m4negp.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382625/studiophotocreation/english-weddings/megan-lee/SPC_0407_zna8fp.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382624/studiophotocreation/english-weddings/megan-lee/SPC_0408_okmc2c.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382624/studiophotocreation/english-weddings/megan-lee/SPC_0411_kiitcp.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382624/studiophotocreation/english-weddings/megan-lee/SPC_0413_yz89hz.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382627/studiophotocreation/english-weddings/megan-lee/SPC_0415_d5ycgc.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382628/studiophotocreation/english-weddings/megan-lee/SPC_0417_bute94.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382625/studiophotocreation/english-weddings/megan-lee/SPC_0422_afmfbk.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382626/studiophotocreation/english-weddings/megan-lee/SPC_0424_kqsi1u.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382626/studiophotocreation/english-weddings/megan-lee/SPC_0435_if2v52.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382626/studiophotocreation/english-weddings/megan-lee/SPC_0437_lt8qbc.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382628/studiophotocreation/english-weddings/megan-lee/SPC_0438_kvc01f.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382628/studiophotocreation/english-weddings/megan-lee/SPC_0440_bc4noh.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382628/studiophotocreation/english-weddings/megan-lee/SPC_0450_xurfla.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382629/studiophotocreation/english-weddings/megan-lee/SPC_0479_iyhjxi.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382630/studiophotocreation/english-weddings/megan-lee/SPC_0500_z1s6mp.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382631/studiophotocreation/english-weddings/megan-lee/SPC_0525_vmgcnl.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382631/studiophotocreation/english-weddings/megan-lee/SPC_0543_wspcl8.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382630/studiophotocreation/english-weddings/megan-lee/SPC_0555_vfcm2e.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382634/studiophotocreation/english-weddings/megan-lee/SPC_0556_lwwnps.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382635/studiophotocreation/english-weddings/megan-lee/SPC_0568_vaghs4.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382634/studiophotocreation/english-weddings/megan-lee/SPC_0571_yr9qqj.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382632/studiophotocreation/english-weddings/megan-lee/SPC_0575_jaktms.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382632/studiophotocreation/english-weddings/megan-lee/SPC_0576_v5zokn.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382632/studiophotocreation/english-weddings/megan-lee/SPC_0577_ambfzp.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382635/studiophotocreation/english-weddings/megan-lee/SPC_0580_fea518.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382634/studiophotocreation/english-weddings/megan-lee/SPC_0584_m4vf3g.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382635/studiophotocreation/english-weddings/megan-lee/SPC_0587_cj1ndx.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382635/studiophotocreation/english-weddings/megan-lee/SPC_0597_cyem2c.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382637/studiophotocreation/english-weddings/megan-lee/SPC_0601_xfkl4q.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382637/studiophotocreation/english-weddings/megan-lee/SPC_0607_y7dzb0.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382638/studiophotocreation/english-weddings/megan-lee/SPC_0611_l6d2al.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382638/studiophotocreation/english-weddings/megan-lee/SPC_0616_fqyxtx.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382637/studiophotocreation/english-weddings/megan-lee/SPC_0617_hujzrv.webp"
                        loading="lazy" alt="A photo from Megan's and Lee's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>