<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Rebecca's and Alvaro's wedding in Paphos, Cyprus">
        <title>Rebecca and Alvaro wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382701/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0003_zn9pef.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382698/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0006_vgmrjl.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382700/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0010_kvnngk.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382700/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0015_fakddg.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382699/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0026_e5vmeg.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382707/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0029_olwvrv.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382706/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0048_zwanqf.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382703/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0052_pigtcu.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382704/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0054_dshaa8.webp"
                        alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382707/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0056_iphspi.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382705/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0059_iaqk86.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382706/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0063_yk1uyb.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382707/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0064_twnop6.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382706/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0065_uxt4ru.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382708/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0075_ifxd2g.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382709/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0099_doy8ha.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382709/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0125_j4zr35.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382708/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0128_bewn3b.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382708/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0133_bcdqvf.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382709/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0137_qo4pmi.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382712/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0144_gmwnei.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382712/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0150_ubs5j2.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382713/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0179_kyjyru.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382712/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0183_k0p6py.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382715/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0185_dbhhu1.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382718/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0189_ndmwoc.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382713/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0199_ul6idu.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382718/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0212_dormdt.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382718/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0220_g0eslw.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382721/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0231_dss1mw.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382723/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0236_zvkjta.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382719/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0257_cpzijg.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382719/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0277_bezldf.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382721/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0293_obdjkm.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382721/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0297_bqeckn.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382724/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0303_tobt8w.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382725/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0310_rrnhl1.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382724/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0312_xsiygh.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382724/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0317_aitdkz.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382724/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0321_bkcpkz.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382725/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0323_hkkucf.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382725/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0327_psssql.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382727/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0334_qwcw6k.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382728/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0336_dvardi.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382728/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0338_lhweio.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382728/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0342_pyknuy.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382727/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0357_mf1mki.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382727/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0365_exr12r.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382728/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0367_fdpkkr.webp"
                        loading="lazy" alt="A photo from Rebecca's and Alvaro's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>