<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Rhian's and Sean's wedding in Paphos, Cyprus">
        <title>Rhian and Sean wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0005_kgwrfi.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0012_zyt7jd.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0033_w7uze0.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568311/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0038_ndre2g.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0040_e181zn.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0041_wcddcl.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0043_u6px6w.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568312/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0048_temlxm.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568313/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0058_mn4l1o.webp"
                        alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568313/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0064_pop9xz.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568318/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0074_fzsk4s.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568314/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0081_bmp2xs.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568315/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0082_m7apg2.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568316/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0085_uadvcu.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568315/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0110_ijwuox.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568315/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0122_o9f5as.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568316/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0131_u4nqco.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568318/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0164_y0eq4s.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568319/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0167_wcqj4n.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568318/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0172_z4zu1g.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568317/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0174_sxj2ut.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568318/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0178_lp3dsi.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0195_bjgxj1.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568319/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0207_xxagxw.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568319/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0219_s0azjf.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0224_wlezi4.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0226_dasoqt.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0232_yftjun.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0233_lq9h2v.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568320/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0238_a87hfd.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568321/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0245_tlich9.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568321/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0262_jzklwi.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568321/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0265_zz11nz.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568321/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0268_a9kwi6.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568324/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0271_lxgign.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568325/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0277_rwvvaf.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568323/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0290_dv9eek.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568324/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0292_sgagpt.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568325/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0296_m4z9lc.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568325/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0298_fnuqok.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568325/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0303_qzytac.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568326/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0306_vaoacw.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568325/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0315_n34xhf.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568328/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0346_nmhkhu.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568329/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0360_q7unjm.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568327/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0367_jiffzq.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568326/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0368_cl6nds.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568326/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0374_xfjouw.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568328/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0381_w7ized.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568329/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0383_a2tkvl.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568328/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0390_egit91.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568328/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0391_t7graw.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568330/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0393_n1ofum.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568329/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0591_wzsva9.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568329/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0597_rpchok.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568329/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0603_lvycwt.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568330/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0605_rji4un.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568330/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0615_kny375.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568330/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0635_ttnxyd.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568331/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0637_onpjtj.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568331/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0643_olpahf.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568331/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0656_vbefl4.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568331/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0658_j26jn2.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568331/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0664_dhdzxt.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568332/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0673_v446to.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568332/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0675_pzp04n.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568332/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0676_aquru2.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568332/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0678_ls1ytm.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568332/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0678_ls1ytm.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568333/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0684_pkxa6r.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568333/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0689_kv9uaz.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568333/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0691_gomi4r.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568333/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0693_cu20px.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568334/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0696_ozc9et.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568334/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0701_qe21ok.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568334/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0703_tcrtuv.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568334/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0731_hcxkgy.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568334/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0747_dgl59r.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568335/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0754_zfqz3k.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568335/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0767_z4iqm2.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568335/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0780_d9b2qg.webp"
                        loading="lazy" alt="A photo from Rhian's and Sean's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>