<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Sophie's and Jack's wedding in Paphos, Cyprus">
        <title>Sophie and Jack wedding - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382855/studiophotocreation/english-weddings/sophie-jack/SPC_0016_nlvln9.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382855/studiophotocreation/english-weddings/sophie-jack/SPC_0022_tv7k1c.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382856/studiophotocreation/english-weddings/sophie-jack/SPC_0023_vejj3h.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382855/studiophotocreation/english-weddings/sophie-jack/SPC_0027_ow5plu.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382855/studiophotocreation/english-weddings/sophie-jack/SPC_0030_nrpzuo.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382856/studiophotocreation/english-weddings/sophie-jack/SPC_0032_yer8hl.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382856/studiophotocreation/english-weddings/sophie-jack/SPC_0034_aiskho.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382858/studiophotocreation/english-weddings/sophie-jack/SPC_0043_uhrwrc.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382857/studiophotocreation/english-weddings/sophie-jack/SPC_0044_zfvrqh.webp"
                        alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382857/studiophotocreation/english-weddings/sophie-jack/SPC_0047_kbr1n6.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382857/studiophotocreation/english-weddings/sophie-jack/SPC_0049_utyvzc.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382857/studiophotocreation/english-weddings/sophie-jack/SPC_0050_om4ei7.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382860/studiophotocreation/english-weddings/sophie-jack/SPC_0070_apyw5n.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382858/studiophotocreation/english-weddings/sophie-jack/SPC_0071_jalr1r.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382859/studiophotocreation/english-weddings/sophie-jack/SPC_0073_ybkga3.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382860/studiophotocreation/english-weddings/sophie-jack/SPC_0076_ehzc7q.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382859/studiophotocreation/english-weddings/sophie-jack/SPC_0078_op1ryd.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382860/studiophotocreation/english-weddings/sophie-jack/SPC_0083_i1fuov.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382860/studiophotocreation/english-weddings/sophie-jack/SPC_0085_vl11aw.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382861/studiophotocreation/english-weddings/sophie-jack/SPC_0088_xewp4y.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382860/studiophotocreation/english-weddings/sophie-jack/SPC_0096_xxykk0.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382861/studiophotocreation/english-weddings/sophie-jack/SPC_0099_fdogat.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382861/studiophotocreation/english-weddings/sophie-jack/SPC_0120_xb6htc.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382863/studiophotocreation/english-weddings/sophie-jack/SPC_0129_wbtjao.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382863/studiophotocreation/english-weddings/sophie-jack/SPC_0135_hfxrhl.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382863/studiophotocreation/english-weddings/sophie-jack/SPC_0153_b2snsd.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382863/studiophotocreation/english-weddings/sophie-jack/SPC_0155_ofttiy.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382864/studiophotocreation/english-weddings/sophie-jack/SPC_0159_h39e1f.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382865/studiophotocreation/english-weddings/sophie-jack/SPC_0162_rzrlhf.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382869/studiophotocreation/english-weddings/sophie-jack/SPC_0166_umlpic.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382868/studiophotocreation/english-weddings/sophie-jack/SPC_0168_jazglc.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382865/studiophotocreation/english-weddings/sophie-jack/SPC_0175_vfhzem.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382865/studiophotocreation/english-weddings/sophie-jack/SPC_0178_k7lpll.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382866/studiophotocreation/english-weddings/sophie-jack/SPC_0180_ghjeeq.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382870/studiophotocreation/english-weddings/sophie-jack/SPC_0187_gdquve.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382867/studiophotocreation/english-weddings/sophie-jack/SPC_0197_r3x12j.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382869/studiophotocreation/english-weddings/sophie-jack/SPC_0210_hzxaih.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382870/studiophotocreation/english-weddings/sophie-jack/SPC_0216_ore2l5.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382873/studiophotocreation/english-weddings/sophie-jack/SPC_0220_hipgr2.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382872/studiophotocreation/english-weddings/sophie-jack/SPC_0222_qztil9.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382871/studiophotocreation/english-weddings/sophie-jack/SPC_0224_ctl1jb.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382872/studiophotocreation/english-weddings/sophie-jack/SPC_0230_sgtfay.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382874/studiophotocreation/english-weddings/sophie-jack/SPC_0234_iiftyi.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382872/studiophotocreation/english-weddings/sophie-jack/SPC_0235_ezrz3k.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382873/studiophotocreation/english-weddings/sophie-jack/SPC_0260_nrk2er.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382873/studiophotocreation/english-weddings/sophie-jack/SPC_0265_whpbig.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382873/studiophotocreation/english-weddings/sophie-jack/SPC_0270_y3otei.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382873/studiophotocreation/english-weddings/sophie-jack/SPC_0274_tugzoo.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382879/studiophotocreation/english-weddings/sophie-jack/SPC_0278_dchfhd.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382874/studiophotocreation/english-weddings/sophie-jack/SPC_0290_qlbzcg.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382877/studiophotocreation/english-weddings/sophie-jack/SPC_0389_gqrqhu.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382878/studiophotocreation/english-weddings/sophie-jack/SPC_0393_ry4jip.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382879/studiophotocreation/english-weddings/sophie-jack/SPC_0400_cnyfbt.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382876/studiophotocreation/english-weddings/sophie-jack/SPC_0433_pdqr9l.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382877/studiophotocreation/english-weddings/sophie-jack/SPC_0434_ioglgm.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382879/studiophotocreation/english-weddings/sophie-jack/SPC_0435_dojivx.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382880/studiophotocreation/english-weddings/sophie-jack/SPC_0442_wrqite.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382878/studiophotocreation/english-weddings/sophie-jack/SPC_0448_e7h0ee.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382880/studiophotocreation/english-weddings/sophie-jack/SPC_0451_a6tebu.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382880/studiophotocreation/english-weddings/sophie-jack/SPC_0454_dgolvv.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382882/studiophotocreation/english-weddings/sophie-jack/SPC_0458_kdfash.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382883/studiophotocreation/english-weddings/sophie-jack/SPC_0464_q74dw1.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382881/studiophotocreation/english-weddings/sophie-jack/SPC_0470_tzmu4l.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382882/studiophotocreation/english-weddings/sophie-jack/SPC_0473_hdl7z6.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382883/studiophotocreation/english-weddings/sophie-jack/SPC_0507_rfbjsy.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382882/studiophotocreation/english-weddings/sophie-jack/SPC_0509_icantb.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382883/studiophotocreation/english-weddings/sophie-jack/SPC_0513_ilvxvb.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382883/studiophotocreation/english-weddings/sophie-jack/SPC_0516_fr17ib.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382885/studiophotocreation/english-weddings/sophie-jack/SPC_0518_mrqlfa.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382885/studiophotocreation/english-weddings/sophie-jack/SPC_0531_hns90a.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382886/studiophotocreation/english-weddings/sophie-jack/SPC_0539_ggft4c.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382884/studiophotocreation/english-weddings/sophie-jack/SPC_0546_sbk5ac.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382885/studiophotocreation/english-weddings/sophie-jack/SPC_0551_tyo9ay.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382888/studiophotocreation/english-weddings/sophie-jack/SPC_0555_ggsm6w.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382887/studiophotocreation/english-weddings/sophie-jack/SPC_0558_lucwh3.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382886/studiophotocreation/english-weddings/sophie-jack/SPC_0560_ni6p03.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382887/studiophotocreation/english-weddings/sophie-jack/SPC_0565_p6kkwt.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382886/studiophotocreation/english-weddings/sophie-jack/SPC_0567_a9tqyc.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382887/studiophotocreation/english-weddings/sophie-jack/SPC_0572_av2o9n.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382888/studiophotocreation/english-weddings/sophie-jack/SPC_0573_o2kln0.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382888/studiophotocreation/english-weddings/sophie-jack/SPC_0576_eodoxa.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382888/studiophotocreation/english-weddings/sophie-jack/SPC_0584_bioew4.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382895/studiophotocreation/english-weddings/sophie-jack/SPC_0595_ymd2sg.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382891/studiophotocreation/english-weddings/sophie-jack/SPC_0598_fcm0zc.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382892/studiophotocreation/english-weddings/sophie-jack/SPC_0601_ydpxjr.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382889/studiophotocreation/english-weddings/sophie-jack/SPC_0603_mwby3i.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382891/studiophotocreation/english-weddings/sophie-jack/SPC_0608_gvwkyn.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382892/studiophotocreation/english-weddings/sophie-jack/SPC_0609_mrpiei.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382892/studiophotocreation/english-weddings/sophie-jack/SPC_0619_bqzip7.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382894/studiophotocreation/english-weddings/sophie-jack/SPC_0624_yd7zaw.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382898/studiophotocreation/english-weddings/sophie-jack/SPC_0628_pfshzu.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382894/studiophotocreation/english-weddings/sophie-jack/SPC_0631_q3fgp3.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382896/studiophotocreation/english-weddings/sophie-jack/SPC_0637_oimkbw.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382894/studiophotocreation/english-weddings/sophie-jack/SPC_0639_bzvhpg.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382896/studiophotocreation/english-weddings/sophie-jack/SPC_0642_gkcwps.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382896/studiophotocreation/english-weddings/sophie-jack/SPC_0644_ypvspb.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382896/studiophotocreation/english-weddings/sophie-jack/SPC_0648_kqlqym.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382897/studiophotocreation/english-weddings/sophie-jack/SPC_0649_nbknbh.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382898/studiophotocreation/english-weddings/sophie-jack/SPC_0655_fbobbz.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382897/studiophotocreation/english-weddings/sophie-jack/SPC_0663_tus5qm.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382899/studiophotocreation/english-weddings/sophie-jack/SPC_0664_qimxdy.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382899/studiophotocreation/english-weddings/sophie-jack/SPC_0689_amctuz.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382900/studiophotocreation/english-weddings/sophie-jack/SPC_0690_gukvev.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382899/studiophotocreation/english-weddings/sophie-jack/SPC_0695_rtvnki.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382900/studiophotocreation/english-weddings/sophie-jack/SPC_0697_osql3l.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382900/studiophotocreation/english-weddings/sophie-jack/SPC_0715_cifheh.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382900/studiophotocreation/english-weddings/sophie-jack/SPC_0762_k9tszo.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382902/studiophotocreation/english-weddings/sophie-jack/SPC_0763_odwnif.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382902/studiophotocreation/english-weddings/sophie-jack/SPC_0769_mueatg.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382902/studiophotocreation/english-weddings/sophie-jack/SPC_0770_zn7r9f.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382903/studiophotocreation/english-weddings/sophie-jack/SPC_0772_gwu7px.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382903/studiophotocreation/english-weddings/sophie-jack/SPC_0775_xap5jj.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382903/studiophotocreation/english-weddings/sophie-jack/SPC_0778_p9qvle.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382904/studiophotocreation/english-weddings/sophie-jack/SPC_0779_dmr682.webp"
                        loading="lazy" alt="A photo from Sophie's and Jack's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>