<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of D & D's model photoshoot in Paphos, Cyprus">
        <title>D & D model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568227/studiophotocreation/models/D%20n%20D/SPC_0117_gkiiha.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568227/studiophotocreation/models/D%20n%20D/SPC_0127_kfxdvo.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568226/studiophotocreation/models/D%20n%20D/SPC_0134_n7gjud.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568227/studiophotocreation/models/D%20n%20D/SPC_0137_x8ftfs.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568226/studiophotocreation/models/D%20n%20D/SPC_0148_spnilr.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568226/studiophotocreation/models/D%20n%20D/SPC_0188_nljsxo.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568227/studiophotocreation/models/D%20n%20D/SPC_0193_mesfel.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568228/studiophotocreation/models/D%20n%20D/SPC_0194_ub8jom.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568234/studiophotocreation/models/D%20n%20D/SPC_0244_usnguh.webp"
                        alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568230/studiophotocreation/models/D%20n%20D/SPC_0256_kqhvvz.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568230/studiophotocreation/models/D%20n%20D/SPC_0291_uqzwgu.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568230/studiophotocreation/models/D%20n%20D/SPC_0330_uslyk1.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568232/studiophotocreation/models/D%20n%20D/SPC_0334_xyjxeg.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568233/studiophotocreation/models/D%20n%20D/SPC_0339_enkkqs.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568233/studiophotocreation/models/D%20n%20D/SPC_0344_divedn.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568234/studiophotocreation/models/D%20n%20D/SPC_0354_evu1zr.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568238/studiophotocreation/models/D%20n%20D/SPC_0381_zd1oq1.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568235/studiophotocreation/models/D%20n%20D/SPC_0406_obfvx1.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568235/studiophotocreation/models/D%20n%20D/SPC_0417_kfazum.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568234/studiophotocreation/models/D%20n%20D/SPC_0439_qrankw.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568236/studiophotocreation/models/D%20n%20D/SPC_0444_xhclyg.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568238/studiophotocreation/models/D%20n%20D/SPC_0452_yz3whn.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568236/studiophotocreation/models/D%20n%20D/SPC_0481_v0bdbg.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568238/studiophotocreation/models/D%20n%20D/SPC_0491_mbjrnt.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568239/studiophotocreation/models/D%20n%20D/SPC_0508_tyavuq.webp"
                        loading="lazy" alt="A photo from D & D's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>