<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Elena's model photoshoot in Paphos, Cyprus">
        <title>Elena model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568273/studiophotocreation/models/Elena/SPC_0357_hq8q48.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568275/studiophotocreation/models/Elena/SPC_0375_mzfi1d.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568274/studiophotocreation/models/Elena/SPC_0384_tjkw9g.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568273/studiophotocreation/models/Elena/SPC_0385_nwqxl2.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568276/studiophotocreation/models/Elena/SPC_0388_zntcgj.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568274/studiophotocreation/models/Elena/SPC_0400_jcdefa.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568274/studiophotocreation/models/Elena/SPC_0410_zjdwun.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568276/studiophotocreation/models/Elena/SPC_0422_vt5mfv.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568276/studiophotocreation/models/Elena/SPC_0478_rh76pi.webp"
                        alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568277/studiophotocreation/models/Elena/SPC_0483_oyqd5h.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568276/studiophotocreation/models/Elena/SPC_0495_hxnlhe.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568277/studiophotocreation/models/Elena/SPC_0538_xeqtka.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568276/studiophotocreation/models/Elena/SPC_0544_egou3t.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568280/studiophotocreation/models/Elena/SPC_0560_xslma4.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568280/studiophotocreation/models/Elena/SPC_0563_wvymck.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568278/studiophotocreation/models/Elena/SPC_0597_sij6np.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568277/studiophotocreation/models/Elena/SPC_0600_jwj0cs.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568279/studiophotocreation/models/Elena/SPC_0603_snwa3d.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568280/studiophotocreation/models/Elena/SPC_0609_pqrzdk.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568280/studiophotocreation/models/Elena/SPC_0619_nouz3s.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568282/studiophotocreation/models/Elena/SPC_0626_rvzr7b.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568285/studiophotocreation/models/Elena/SPC_0629_fijojd.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568287/studiophotocreation/models/Elena/SPC_0644_duafbs.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568283/studiophotocreation/models/Elena/SPC_0647_olze2h.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568282/studiophotocreation/models/Elena/SPC_0662_pwc3wa.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568284/studiophotocreation/models/Elena/SPC_0685_ae2m5b.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568284/studiophotocreation/models/Elena/SPC_0690_gxufz1.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568285/studiophotocreation/models/Elena/SPC_0705_tzymee.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568285/studiophotocreation/models/Elena/SPC_0707_xy2v36.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568287/studiophotocreation/models/Elena/SPC_0714_jmzgtz.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568287/studiophotocreation/models/Elena/SPC_0719_ahgesf.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568287/studiophotocreation/models/Elena/SPC_0751_q2rflo.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568287/studiophotocreation/models/Elena/SPC_0758_cd44go.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568288/studiophotocreation/models/Elena/SPC_0778_aduekj.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568291/studiophotocreation/models/Elena/SPC_0781_ajjznz.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568290/studiophotocreation/models/Elena/SPC_0798_odrqz4.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568288/studiophotocreation/models/Elena/SPC_0819_ooleug.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568290/studiophotocreation/models/Elena/SPC_0823_cvigpx.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568290/studiophotocreation/models/Elena/SPC_0827_noaker.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568290/studiophotocreation/models/Elena/SPC_0838_qaqpkb.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568290/studiophotocreation/models/Elena/SPC_0856_fbcmgn.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568292/studiophotocreation/models/Elena/SPC_0859_cdezyw.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568292/studiophotocreation/models/Elena/SPC_0867_uhwvaa.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568292/studiophotocreation/models/Elena/SPC_0868_obryhr.webp"
                        loading="lazy" alt="A photo from Elena's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>