<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Johanna's model photoshoot in Paphos, Cyprus">
        <title>Johanna model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568353/studiophotocreation/models/Johanna/SPC_0006-2_xq8rnf.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0048-2_oewr9o.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0052-2_ve2ziv.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568353/studiophotocreation/models/Johanna/SPC_0101-2_tezwzn.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0106-2_uj9ifb.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0121-2_kqowpu.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0123-2_mqljlh.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0164-2_wu3mbb.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568355/studiophotocreation/models/Johanna/SPC_0169-2_tmfalp.webp"
                        alt="A photo from Johanna's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568355/studiophotocreation/models/Johanna/SPC_0190-2_ccfyx1.webp"
                        loading="lazy" alt="A photo from Johanna's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>