<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Karlin's model photoshoot in Paphos, Cyprus">
        <title>Karlin model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568404/studiophotocreation/models/Karlin/SPC_0001_nhmtgt.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568404/studiophotocreation/models/Karlin/SPC_0019_n4leje.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568404/studiophotocreation/models/Karlin/SPC_0027_qfloxy.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568404/studiophotocreation/models/Karlin/SPC_0037_abha3z.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568403/studiophotocreation/models/Karlin/SPC_0039_xwhg5y.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568404/studiophotocreation/models/Karlin/SPC_0049_msbbgu.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568406/studiophotocreation/models/Karlin/SPC_0052_rd0ccb.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568406/studiophotocreation/models/Karlin/SPC_0053_gkutbn.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568407/studiophotocreation/models/Karlin/SPC_0055_hvqpu0.webp"
                        alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568406/studiophotocreation/models/Karlin/SPC_0057_lcen0b.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568408/studiophotocreation/models/Karlin/SPC_0060_gmsluv.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568408/studiophotocreation/models/Karlin/SPC_0066_zm4oum.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568408/studiophotocreation/models/Karlin/SPC_0069_yo15ra.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568407/studiophotocreation/models/Karlin/SPC_0077_vfzrzw.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568407/studiophotocreation/models/Karlin/SPC_0080_splxiq.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568408/studiophotocreation/models/Karlin/SPC_0085_ui8zpy.webp"
                        loading="lazy" alt="A photo from Karlin's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>