<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Natalie's model photoshoot in Paphos, Cyprus">
        <title>Natalie model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568478/studiophotocreation/models/Natalie/SPC_0145_dj5cef.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0377_acdtqf.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0386_lvei51.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0461_scbhjp.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568480/studiophotocreation/models/Natalie/SPC_0474_h0u07n.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568480/studiophotocreation/models/Natalie/SPC_0653_x4og0t.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0696_hvif3q.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568482/studiophotocreation/models/Natalie/SPC_0717_hfcqgf.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568483/studiophotocreation/models/Natalie/SPC_0761_i5sx9t.webp"
                        alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568483/studiophotocreation/models/Natalie/SPC_0767_xepv8h.webp"
                        loading="lazy" alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568484/studiophotocreation/models/Natalie/SPC_0797_hcrokz.webp"
                        loading="lazy" alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568482/studiophotocreation/models/Natalie/SPC_0966_tx2hsd.webp"
                        loading="lazy" alt="A photo from Natalie's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568483/studiophotocreation/models/Natalie/SPC_0967_t0l2cg.webp"
                        loading="lazy" alt="A photo from Natalie's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>