<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Olga's model photoshoot in Paphos, Cyprus">
        <title>Olga model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568508/studiophotocreation/models/Olga/SPC_0003_dumpgd.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568508/studiophotocreation/models/Olga/SPC_0024_lfgmx8.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568508/studiophotocreation/models/Olga/SPC_0039_bzdkmd.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568509/studiophotocreation/models/Olga/SPC_0049_pfpkp4.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568509/studiophotocreation/models/Olga/SPC_0112_he1bnt.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568509/studiophotocreation/models/Olga/SPC_0113_tnn7q1.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568509/studiophotocreation/models/Olga/SPC_0124_czkpiz.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568513/studiophotocreation/models/Olga/SPC_0133_okws1h.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0197_chcfzm.webp"
                        alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0208_jsfbdu.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0242_x9g8ww.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0258_oobeyl.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568514/studiophotocreation/models/Olga/SPC_0266_kgvek1.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568514/studiophotocreation/models/Olga/SPC_0271_laczws.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568513/studiophotocreation/models/Olga/SPC_0324_mrlhci.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568515/studiophotocreation/models/Olga/SPC_0329_wjlj1a.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568514/studiophotocreation/models/Olga/SPC_0335_p0yyxr.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568516/studiophotocreation/models/Olga/SPC_0344_rlx48v.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568517/studiophotocreation/models/Olga/SPC_0346_nwqn0x.webp"
                        loading="lazy" alt="A photo from Olga's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>