<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Sveta's model photoshoot in Paphos, Cyprus">
        <title>Sveta model photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568574/studiophotocreation/models/Sveta/SPC_0544_aixvr7.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568574/studiophotocreation/models/Sveta/SPC_0545_q34gev.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568575/studiophotocreation/models/Sveta/SPC_0549_mhja0o.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568575/studiophotocreation/models/Sveta/SPC_0559_pua0df.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568576/studiophotocreation/models/Sveta/SPC_0560_fhfuyv.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568576/studiophotocreation/models/Sveta/SPC_0562_sw3bil.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568577/studiophotocreation/models/Sveta/SPC_0567_xbstfi.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568576/studiophotocreation/models/Sveta/SPC_0568_zplale.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568545/studiophotocreation/models/Sveta/SPC_0576_m0yt9k.webp"
                        alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568546/studiophotocreation/models/Sveta/SPC_0579_xhvpvf.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568545/studiophotocreation/models/Sveta/SPC_0583_qhgxxz.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568550/studiophotocreation/models/Sveta/SPC_0608_dscigz.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568547/studiophotocreation/models/Sveta/SPC_0615_hhdc5c.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568547/studiophotocreation/models/Sveta/SPC_0619_kganjf.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568546/studiophotocreation/models/Sveta/SPC_0623_gifgyz.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568547/studiophotocreation/models/Sveta/SPC_0625_juwkyr.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568547/studiophotocreation/models/Sveta/SPC_0628_ciio4j.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568549/studiophotocreation/models/Sveta/SPC_0633_rrbc5v.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568549/studiophotocreation/models/Sveta/SPC_0655_isrlmk.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568553/studiophotocreation/models/Sveta/SPC_0662_p0qqpk.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568552/studiophotocreation/models/Sveta/SPC_0669_ags4yb.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568550/studiophotocreation/models/Sveta/SPC_0671_yvovj1.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568550/studiophotocreation/models/Sveta/SPC_0680_wcplhn.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568553/studiophotocreation/models/Sveta/SPC_0683_isl5ua.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568554/studiophotocreation/models/Sveta/SPC_0685_zix2un.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568552/studiophotocreation/models/Sveta/SPC_0693_td1bzl.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568552/studiophotocreation/models/Sveta/SPC_0703_cwzpsv.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568554/studiophotocreation/models/Sveta/SPC_0707_teuqfg.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568554/studiophotocreation/models/Sveta/SPC_0715_bidjmr.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568554/studiophotocreation/models/Sveta/SPC_0739_p0xfsi.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568559/studiophotocreation/models/Sveta/SPC_0741_f7r5ln.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568559/studiophotocreation/models/Sveta/SPC_0758_vcbhyn.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568557/studiophotocreation/models/Sveta/SPC_0770_kiiotx.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568558/studiophotocreation/models/Sveta/SPC_0786_jtlkb9.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568557/studiophotocreation/models/Sveta/SPC_0792_nq4tvi.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568557/studiophotocreation/models/Sveta/SPC_0803_dqzp4i.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568560/studiophotocreation/models/Sveta/SPC_0806_ocjqkk.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568559/studiophotocreation/models/Sveta/SPC_0811_qhx5rr.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568562/studiophotocreation/models/Sveta/SPC_0814_lakym5.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568560/studiophotocreation/models/Sveta/SPC_0853_qzfgw0.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568562/studiophotocreation/models/Sveta/SPC_0870_idb64p.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568566/studiophotocreation/models/Sveta/SPC_0876_wag9tc.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568562/studiophotocreation/models/Sveta/SPC_0884_syzg0n.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568562/studiophotocreation/models/Sveta/SPC_0890_tty4dy.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568564/studiophotocreation/models/Sveta/SPC_0903_wdj3tr.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568564/studiophotocreation/models/Sveta/SPC_0908_wdgnuv.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568565/studiophotocreation/models/Sveta/SPC_0909_kn7txg.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568567/studiophotocreation/models/Sveta/SPC_0910_xrtdui.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0923_c3iupa.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0924_t2buhn.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568567/studiophotocreation/models/Sveta/SPC_0931_pcqgku.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568568/studiophotocreation/models/Sveta/SPC_0932_inalqa.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0933_adurdq.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0937_gjp4zz.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0942_orymrq.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568571/studiophotocreation/models/Sveta/SPC_0947_awaa2a.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568570/studiophotocreation/models/Sveta/SPC_0954_s0sida.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568571/studiophotocreation/models/Sveta/SPC_0976_sweeyn.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568571/studiophotocreation/models/Sveta/SPC_0986_kxx15n.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568571/studiophotocreation/models/Sveta/SPC_1019_g03cvu.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568571/studiophotocreation/models/Sveta/SPC_1022_hqsboh.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568572/studiophotocreation/models/Sveta/SPC_1028_t5wp5k.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568572/studiophotocreation/models/Sveta/SPC_1029_kvj6ib.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568572/studiophotocreation/models/Sveta/SPC_1030_ynkzua.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568572/studiophotocreation/models/Sveta/SPC_1037_jisdfm.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568572/studiophotocreation/models/Sveta/SPC_1038_jj9gub.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568574/studiophotocreation/models/Sveta/SPC_1064_qobgda.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568575/studiophotocreation/models/Sveta/SPC_1068_hgmh2e.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568574/studiophotocreation/models/Sveta/SPC_1071_olorim.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568574/studiophotocreation/models/Sveta/SPC_1073_sejk1u.webp"
                        loading="lazy" alt="A photo from Sveta's model photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>