<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Andreas's and Athina's proposal in Paphos, Cyprus">
        <title>Andreas and Athina proposal - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567859/studiophotocreation/proposals/Antreas-Athina/SPC_0016_eblm4e.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567857/studiophotocreation/proposals/Antreas-Athina/SPC_0019_qlp1oo.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567858/studiophotocreation/proposals/Antreas-Athina/SPC_0021_e2plot.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567861/studiophotocreation/proposals/Antreas-Athina/SPC_0023_otrcjn.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567860/studiophotocreation/proposals/Antreas-Athina/SPC_0028_bvfik7.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567859/studiophotocreation/proposals/Antreas-Athina/SPC_0031_yn6dmn.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567860/studiophotocreation/proposals/Antreas-Athina/SPC_0033_pvx5pe.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567860/studiophotocreation/proposals/Antreas-Athina/SPC_0035_rs3x87.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567841/studiophotocreation/proposals/Antreas-Athina/SPC_0037_fmtrab.webp"
                        alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567845/studiophotocreation/proposals/Antreas-Athina/SPC_0038_t0br1v.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567842/studiophotocreation/proposals/Antreas-Athina/SPC_0040_jdttwd.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567843/studiophotocreation/proposals/Antreas-Athina/SPC_0044_lm99t7.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567843/studiophotocreation/proposals/Antreas-Athina/SPC_0048_txdqgu.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567843/studiophotocreation/proposals/Antreas-Athina/SPC_0050_xibiwe.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567846/studiophotocreation/proposals/Antreas-Athina/SPC_0053_hptrk7.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567843/studiophotocreation/proposals/Antreas-Athina/SPC_0058_nli4es.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567846/studiophotocreation/proposals/Antreas-Athina/SPC_0061_b17lep.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567845/studiophotocreation/proposals/Antreas-Athina/SPC_0069_avkuwb.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567847/studiophotocreation/proposals/Antreas-Athina/SPC_0073_c2rxyz.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567846/studiophotocreation/proposals/Antreas-Athina/SPC_0075_zucips.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567846/studiophotocreation/proposals/Antreas-Athina/SPC_0077_nhuph9.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567847/studiophotocreation/proposals/Antreas-Athina/SPC_0079_smxc3k.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567850/studiophotocreation/proposals/Antreas-Athina/SPC_0082_o9nhhm.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567848/studiophotocreation/proposals/Antreas-Athina/SPC_0084_df2zky.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567849/studiophotocreation/proposals/Antreas-Athina/SPC_0089_w6g7jo.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567848/studiophotocreation/proposals/Antreas-Athina/SPC_0090_fpf3uv.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567851/studiophotocreation/proposals/Antreas-Athina/SPC_0096_ojwwir.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567849/studiophotocreation/proposals/Antreas-Athina/SPC_0099_knf7mc.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567850/studiophotocreation/proposals/Antreas-Athina/SPC_0103_jjcv2p.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567850/studiophotocreation/proposals/Antreas-Athina/SPC_0105_tuquik.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567851/studiophotocreation/proposals/Antreas-Athina/SPC_0140_lfk4ab.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567852/studiophotocreation/proposals/Antreas-Athina/SPC_0142_zzcd3e.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567852/studiophotocreation/proposals/Antreas-Athina/SPC_0145_mlc9wm.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567854/studiophotocreation/proposals/Antreas-Athina/SPC_0150_rzkvc8.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567852/studiophotocreation/proposals/Antreas-Athina/SPC_0153_dwquub.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567852/studiophotocreation/proposals/Antreas-Athina/SPC_0170_zbbe3s.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567856/studiophotocreation/proposals/Antreas-Athina/SPC_0171_ywpba8.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567854/studiophotocreation/proposals/Antreas-Athina/SPC_0179_hidv33.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567856/studiophotocreation/proposals/Antreas-Athina/SPC_0192_xlex1m.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567853/studiophotocreation/proposals/Antreas-Athina/SPC_0195_goq5b9.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567855/studiophotocreation/proposals/Antreas-Athina/SPC_0199_wqybxl.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567855/studiophotocreation/proposals/Antreas-Athina/SPC_0206_xts7c9.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567855/studiophotocreation/proposals/Antreas-Athina/SPC_0218_fpz7pv.webp"
                        loading="lazy" alt="A photo from Andreas's and Athina's proposal">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>