<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Chirag's and Priyanka's proposal in Paphos, Cyprus">
        <title>Chirag and Priyanka proposal - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568050/studiophotocreation/proposals/Chirag-Priyanka/SPC_0003_thtk6y.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568052/studiophotocreation/proposals/Chirag-Priyanka/SPC_0005_xhuqle.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568052/studiophotocreation/proposals/Chirag-Priyanka/SPC_0010_iixsx4.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568050/studiophotocreation/proposals/Chirag-Priyanka/SPC_0013_gn0jpx.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568048/studiophotocreation/proposals/Chirag-Priyanka/SPC_0015_xz1vgh.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568049/studiophotocreation/proposals/Chirag-Priyanka/SPC_0022_iacimi.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568051/studiophotocreation/proposals/Chirag-Priyanka/SPC_0025_fjhzzd.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568051/studiophotocreation/proposals/Chirag-Priyanka/SPC_0026_a3dmy3.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568052/studiophotocreation/proposals/Chirag-Priyanka/SPC_0030_iueaqh.webp"
                        alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568051/studiophotocreation/proposals/Chirag-Priyanka/SPC_0032_2_fih6uz.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568059/studiophotocreation/proposals/Chirag-Priyanka/SPC_0032_xe9kn9.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568056/studiophotocreation/proposals/Chirag-Priyanka/SPC_0034_zm0hrx.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568054/studiophotocreation/proposals/Chirag-Priyanka/SPC_0036_2_yjyrli.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568055/studiophotocreation/proposals/Chirag-Priyanka/SPC_0036_axtkyc.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568055/studiophotocreation/proposals/Chirag-Priyanka/SPC_0038_giohqu.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568056/studiophotocreation/proposals/Chirag-Priyanka/SPC_0043_yhkwnw.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568058/studiophotocreation/proposals/Chirag-Priyanka/SPC_0044_mynxu7.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568057/studiophotocreation/proposals/Chirag-Priyanka/SPC_0045_tauisl.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568058/studiophotocreation/proposals/Chirag-Priyanka/SPC_0046_u2pl36.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568058/studiophotocreation/proposals/Chirag-Priyanka/SPC_0048_tawdtw.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568059/studiophotocreation/proposals/Chirag-Priyanka/SPC_0050_xv3vug.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568060/studiophotocreation/proposals/Chirag-Priyanka/SPC_0052_iuyool.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568059/studiophotocreation/proposals/Chirag-Priyanka/SPC_0053_nvxsf3.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568059/studiophotocreation/proposals/Chirag-Priyanka/SPC_0056_uqcflw.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568060/studiophotocreation/proposals/Chirag-Priyanka/SPC_0058_mjqimg.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568061/studiophotocreation/proposals/Chirag-Priyanka/SPC_0062_yerbyw.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568061/studiophotocreation/proposals/Chirag-Priyanka/SPC_0063_mbpn4s.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568063/studiophotocreation/proposals/Chirag-Priyanka/SPC_0066_ufmcdg.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568064/studiophotocreation/proposals/Chirag-Priyanka/SPC_0071_we5aft.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568067/studiophotocreation/proposals/Chirag-Priyanka/SPC_0072_kodljq.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568065/studiophotocreation/proposals/Chirag-Priyanka/SPC_0078_ymid4x.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568068/studiophotocreation/proposals/Chirag-Priyanka/SPC_0082_u5ytk5.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568063/studiophotocreation/proposals/Chirag-Priyanka/SPC_0083_p5kwwc.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568065/studiophotocreation/proposals/Chirag-Priyanka/SPC_0084_xdnow9.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568065/studiophotocreation/proposals/Chirag-Priyanka/SPC_0085_mujr8v.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568067/studiophotocreation/proposals/Chirag-Priyanka/SPC_0088_2_ct6o0y.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568067/studiophotocreation/proposals/Chirag-Priyanka/SPC_0088_vlklzc.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568069/studiophotocreation/proposals/Chirag-Priyanka/SPC_0090_qskydb.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568067/studiophotocreation/proposals/Chirag-Priyanka/SPC_0091_fsaarh.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568083/studiophotocreation/proposals/Chirag-Priyanka/SPC_0092_2_nun1qq.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568070/studiophotocreation/proposals/Chirag-Priyanka/SPC_0092_jizupd.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568070/studiophotocreation/proposals/Chirag-Priyanka/SPC_0095_zacue3.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568071/studiophotocreation/proposals/Chirag-Priyanka/SPC_0098_lzjmgr.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568069/studiophotocreation/proposals/Chirag-Priyanka/SPC_0101_ffamra.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568071/studiophotocreation/proposals/Chirag-Priyanka/SPC_0104_raf0l3.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568072/studiophotocreation/proposals/Chirag-Priyanka/SPC_0105_tlenb6.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568071/studiophotocreation/proposals/Chirag-Priyanka/SPC_0107_wolcrn.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568072/studiophotocreation/proposals/Chirag-Priyanka/SPC_0109_le3vwx.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568073/studiophotocreation/proposals/Chirag-Priyanka/SPC_0111_ubaazr.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568073/studiophotocreation/proposals/Chirag-Priyanka/SPC_0112_ix7zyv.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568073/studiophotocreation/proposals/Chirag-Priyanka/SPC_0114_2_fis01f.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568073/studiophotocreation/proposals/Chirag-Priyanka/SPC_0114_vfdtq9.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568076/studiophotocreation/proposals/Chirag-Priyanka/SPC_0115_t4xv1h.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568074/studiophotocreation/proposals/Chirag-Priyanka/SPC_0119_jef4dc.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568078/studiophotocreation/proposals/Chirag-Priyanka/SPC_0122_knat9a.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568076/studiophotocreation/proposals/Chirag-Priyanka/SPC_0123_tafdva.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568076/studiophotocreation/proposals/Chirag-Priyanka/SPC_0125_dvijps.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568079/studiophotocreation/proposals/Chirag-Priyanka/SPC_0126_oxohsb.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568080/studiophotocreation/proposals/Chirag-Priyanka/SPC_0129_unfes6.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568077/studiophotocreation/proposals/Chirag-Priyanka/SPC_0130_fvtcue.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568081/studiophotocreation/proposals/Chirag-Priyanka/SPC_0132_vqq6k1.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568082/studiophotocreation/proposals/Chirag-Priyanka/SPC_0138_k5c0oq.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568082/studiophotocreation/proposals/Chirag-Priyanka/SPC_0148_w1eve2.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568080/studiophotocreation/proposals/Chirag-Priyanka/SPC_0149_ol6t4q.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568081/studiophotocreation/proposals/Chirag-Priyanka/SPC_0151_hnypdu.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568082/studiophotocreation/proposals/Chirag-Priyanka/SPC_0152_qa6avu.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568083/studiophotocreation/proposals/Chirag-Priyanka/SPC_0155_udtmyx.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568086/studiophotocreation/proposals/Chirag-Priyanka/SPC_0162_2_fw5sz2.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568084/studiophotocreation/proposals/Chirag-Priyanka/SPC_0162_kxbzuz.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568085/studiophotocreation/proposals/Chirag-Priyanka/SPC_0171_bmnthu.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568085/studiophotocreation/proposals/Chirag-Priyanka/SPC_0180_hvrp3g.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568084/studiophotocreation/proposals/Chirag-Priyanka/SPC_0182_a3jv8i.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568086/studiophotocreation/proposals/Chirag-Priyanka/SPC_0206_bi3mjd.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568085/studiophotocreation/proposals/Chirag-Priyanka/SPC_0209_ph5cwv.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568085/studiophotocreation/proposals/Chirag-Priyanka/SPC_0211_i8jygs.webp"
                        loading="lazy" alt="A photo from Chirag's and Athina's proposal">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>