<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Jade's and Craig's wedding in Paphos, Cyprus">
        <title>Jade's and Craig's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_1_pajv1c.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_2_kr2zvy.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_3_qweh4k.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_4_grmuqc.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_5_svofq8.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243550/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_6_ttiy0t.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243552/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_7_hvppgx.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243550/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_8_xohzbj.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243551/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_9_kebvcq.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243550/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_10_ncycbm.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243551/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_11_xhowuh.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243560/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_12_dwtsqr.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243560/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_13_vvmmrd.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243555/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_14_rrfx8n.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243562/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_15_vkmtuq.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243555/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_16_cp7boy.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243557/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_17_cuirhx.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243560/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_18_aebdsc.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243564/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_19_gnwccr.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243562/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_20_qee3cy.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243564/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_21_auou5f.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243564/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_22_d7ievl.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243565/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_23_x3gtx1.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243567/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_24_h2kyfe.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243567/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_25_xcbllf.webp"
                        loading="lazy" alt="A photo from Jade's and Craig's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>