<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Carl's and Jemma's wedding in Paphos, Cyprus">
        <title>Carl's and Jemma's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243596/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_1_uzr8z7.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243593/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_2_g17shd.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243594/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_3_dzgqtw.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243594/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_4_a6mp9s.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243598/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_5_toq4hh.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243592/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_6_qixxwq.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243595/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_6A_f70chh.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243601/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_7_tem3e7.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243599/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_8_bgk8kk.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243600/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_9_b1kniz.webp"
                        loading="lazy" alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243601/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_10_so966a.webp"
                        loading="lazy" alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243602/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_11_kiskso.webp"
                        loading="lazy" alt="A photo from Jemma's and Carl's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243600/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_13_j0orvq.webp"
                        loading="lazy" alt="A photo from Jemma's and Carl's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>