<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Scott's and Katrina's wedding in Paphos, Cyprus">
        <title>Scott's and Katrina's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243625/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_1_sdzgzg.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243627/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_2_vsfufh.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243626/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_3_g9apvi.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243631/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_4_entyso.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243629/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_5_yemixd.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243632/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_6_uq06zh.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243629/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_7_ymipgy.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243629/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_8_qf7mfq.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243633/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_9_ccujzi.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243633/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_10_zmaugx.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243634/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_11_q4wapr.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243631/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_12_txljfa.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243634/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_13_ljegrg.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243634/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_14_zo5hns.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243636/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_15_pabhif.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243635/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_16_rcx0dl.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243637/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_17_ncmhyr.webp"
                        loading="lazy" alt="A photo from Katrina's and Scott's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>