<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description" content="A complete photography of Laura's and Leigh's wedding in Paphos, Cyprus">
        <title>Laura's and Leigh's wedding story - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_1_blavbp.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_2_gsditx.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_3_vlfsvl.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_4_d9hw9e.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243655/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_5_tgknhq.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_6_hi81cs.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243656/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_7_ul5tov.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243665/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_8_dulqjn.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243662/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_9_netlga.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243663/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_10_al7dc1.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243660/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_11_nluhze.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243659/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_12_yzsgwb.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243660/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_13_lj4gmm.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243662/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_14_fuxn5y.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243665/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_15_bfdngo.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243665/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_16_qlm8gl.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243665/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_17_zqi2rk.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243665/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_18_cv7rsk.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243667/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_19_ax3p4q.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243667/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_20_pmgjvw.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243669/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_21_ihlqxb.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243668/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_22_pei66c.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243668/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_23_alcwbc.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243668/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_24_g5hnac.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243670/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_25_kpd7g6.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243669/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_26_ofvtbq.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243670/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_27_y6dquc.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243669/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_28_evo39t.webp"
                        loading="lazy" alt="A photo from Laura's and Leigh's wedding">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>