<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="A complete list of cypriot weddings from wedding photographer Dimitris Domouchtsis">
    <title>Cypriot Weddings - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

    <nav>
        <%- include('../partials/navbar') %>
        <%- include('../partials/breadcrumb') %>
    </nav>

    <main>
        <section class="main-portfolio">
            <div class="left-portfolio">
                <figure class="portfolio-figure left-portfolio-img-1">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242635/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1720_opgooy.webp"
                        alt="A photo from Kata's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure left-portfolio-img-2">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242797/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1064_xwss08.webp"
                        alt="A photo from Maria's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure left-portfolio-img-3">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242575/studiophotocreation/cypriot-weddings/christina-andreas/SPC_2340_wpnj1k.webp"
                        alt="A photo from Christina's and Andreas's wedding">
                </figure>
            </div>
            <div class="middle-portfolio">
                <div class="text-portfolio">
                    <a class="categories-button"
                        href="/portfolio/cypriot-weddings/christina-andreas">Christina-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/jennifer-xaris">Jennifer-Xaris</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/kata-andreas">Kata-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/kristia-alexis">Kristia-Alexis</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/maria-andreas">Maria-Andreas</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/cypriot-weddings/maria-lampros">Maria-Lampros</a>
                </div>
            </div>
            <div class="middle-portfolio-750px">
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242575/studiophotocreation/cypriot-weddings/christina-andreas/SPC_2340_wpnj1k.webp"
                            alt="A photo from Christina's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/christina-andreas">Christina-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0713_iq3asg.webp"
                            alt="A photo from Jennifer's and Xaris's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/jennifer-xaris">Jennifer-Xaris</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242635/studiophotocreation/cypriot-weddings/kata-andreas/SPC_1720_opgooy.webp"
                            alt="A photo from Kata's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/kata-andreas">Kata-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2059_uns8pr.webp"
                            alt="A photo from Kristia's and Alexis's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button"
                            href="/portfolio/cypriot-weddings/kristia-alexis">Kristia-Alexis</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242797/studiophotocreation/cypriot-weddings/maria-andreas/SPC_1064_xwss08.webp"
                            alt="A photo from Maria's and Andreas's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/maria-andreas">Maria-Andreas</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243990/studiophotocreation/cypriot-weddings/maria-lampros/SPC_0895_hmruyg.webp"
                            alt="A photo from Maria's and Lampros's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/cypriot-weddings/maria-lampros">Maria-Lampros</a>
                    </div>
                </div>
            </div>
            <div class="right-portfolio">
                <figure class="portfolio-figure right-portfolio-img-2">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242706/studiophotocreation/cypriot-weddings/kristia-alexis/SPC_2059_uns8pr.webp"
                        alt="A photo from Kristia's and Andreas's wedding">
                </figure>
                <figure class="portfolio-figure right-portfolio-img-3">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243990/studiophotocreation/cypriot-weddings/maria-lampros/SPC_0895_hmruyg.webp"
                        alt="A photo from Maria's and Lampros's wedding">
                </figure>
                <figure class="portfolio-figure right-portfolio-img-4">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632242600/studiophotocreation/cypriot-weddings/jennifer-xaris/SPC_0713_iq3asg.webp"
                        alt="A photo from Jennifer's and Xaris's wedding">
                </figure>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>