<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of english weddings from wedding photographer Dimitris Domouchtsis">
        <title>English Weddings - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
                <%- include('../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243209/studiophotocreation/english-weddings/kristen-james/SPC_0885_om2lz1.webp"
                            alt="A photo from Kristen's and James's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0260_frjqfc.webp"
                            alt="A photo from Christina's and Kyle's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0683_auriw7.webp"
                            alt="A photo from Danielle's and Nikole's wedding">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button"
                            href="/portfolio/english-weddings/christina-kyle">Christina-Kyle</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button"
                            href="/portfolio/english-weddings/danielle-nikole">Danielle-Nikole</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/denika-david">Denika-David</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/dianne-terry">Dianne-Terry</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/kristen-james">Kristen-James</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/megan-lee">Megan-Lee</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button"
                            href="/portfolio/english-weddings/rebecca-alvaro">Rebecca-Alvaro</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/rhian-sean">Rhian-Sean</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/sophie-jack">Sophie-Jack</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/english-weddings/2019">2019</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567905/studiophotocreation/english-weddings/christina-kyle.v2/SPC_0260_frjqfc.webp"
                                alt="A photo from Christina's and Kyle's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/christina-kyle">Christina-Kyle</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639567994/studiophotocreation/english-weddings/danielle-nikole.v2/SPC_0683_auriw7.webp"
                                alt="A photo from Danielle's and Nikole's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/danielle-nikole">Danielle-Nikole</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0144_l7km61.webp"
                                alt="A photo from Denika's and David's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/denika-david">Denika-David</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568232/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0217_sfkrzx.webp"
                                alt="A photo from Dianne's and Terry's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/dianne-terry">Dianne-Terry</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243209/studiophotocreation/english-weddings/kristen-james/SPC_0885_om2lz1.webp"
                                alt="A photo from Kristen's and James's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/kristen-james">Kristen-James</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382630/studiophotocreation/english-weddings/megan-lee/SPC_0500_z1s6mp.webp"
                                alt="A photo from Megan's and Lee's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/english-weddings/megan-lee">Megan-Lee</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382721/studiophotocreation/english-weddings/rebecca-alvaro/SPC_0293_obdjkm.webp"
                                alt="A photo from Rebecca's and Alvaro's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/english-weddings/rebecca-alvaro">Rebecca-Alvaro</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568321/studiophotocreation/english-weddings/rhian-sean.v2/SPC_0245_tlich9.webp"
                                alt="A photo from Rhian's and Sean's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/english-weddings/rhian-sean">Rhian-Sean</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382900/studiophotocreation/english-weddings/sophie-jack/SPC_0715_cifheh.webp"
                                alt="A photo from Sophie's and Jack's wedding">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/english-weddings/sophie-jack">Sophie-Jack</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243055/studiophotocreation/english-weddings/2019/DJI_0037_oqsee2.webp"
                                alt="A photo from 2019 english weddings">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/english-weddings/2019">2019</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568133/studiophotocreation/english-weddings/denika-david.v2/SPC_0144_l7km61.webp"
                            alt="A photo from Denika's and David's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1639568232/studiophotocreation/english-weddings/dianne-terry.v2/SPC_0217_sfkrzx.webp"
                            alt="A photo from Dianne's and Terry's wedding">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638382630/studiophotocreation/english-weddings/megan-lee/SPC_0500_z1s6mp.webp"
                            alt="A photo from Megan's and Lee's wedding">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>