<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of family photoshoots from wedding photographer Dimitris Domouchtsis">
        <title>Families - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
                <%- include('../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568790/studiophotocreation/families/Alexander-Yiana/SPC_0204_xdclrl.webp"
                            alt="A photo from Alexander's and Yiana's family photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568840/studiophotocreation/families/Angelika-Misha/SPC_0264_i152zi.webp"
                            alt="A photo from Angelika's and Misha's family photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568905/studiophotocreation/families/Baskhkim-Shkourte/SPC_0095_xdzixu.webp"
                            alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/alex-gianna">Alex-Gianna</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/alex-xenia">Alex-Xenia</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/alexander-yiana">Alexander-Yiana</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/angelika-misha">Angelika-Misha</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/baskhkim-shkourte">Baskhkim-Shkourte</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button"
                            href="/portfolio/families/filippos-emanouela">Filippos-Emanouela</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/galina-lionid">Galina-Lionid</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/ioulia-alexey">Ioulia-Alexey</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/julia-sofia">Julia-Sofia</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/maria-natalie">Maria-Natalie</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/rianna-ralf">Rianna-Ralf</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/rouslan-irina">Rouslan-Irina</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/families/sofie-ioulia">Sofie-Ioulia</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568674/studiophotocreation/families/Alex-Gianna/SPC_0146_poaepu.webp"
                                alt="A photo from Alex's and Gianna's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/alex-gianna">Alex-Gianna</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568744/studiophotocreation/families/Alex-Xenia/SPC_0328_zzto9a.webp"
                                alt="A photo from Alex's and Xenia's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/alex-xenia">Alex-Xenia</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568790/studiophotocreation/families/Alexander-Yiana/SPC_0204_xdclrl.webp"
                                alt="A photo from Alexander's and Yiana's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/alexander-yiana">Alexander-Yiana</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568840/studiophotocreation/families/Angelika-Misha/SPC_0264_i152zi.webp"
                                alt="A photo from Angelika's and Misha's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/angelika-misha">Angelika-Misha</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568905/studiophotocreation/families/Baskhkim-Shkourte/SPC_0095_xdzixu.webp"
                                alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/families/baskhkim-shkourte">Baskhkim-Shkourte</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568988/studiophotocreation/families/Filippos-Emanouela/SPC_0073_tu2w0c.webp"
                                alt="A photo from Filippos's and Emanouela's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button"
                                href="/portfolio/families/filippos-emanouela">Filippos-Emanouela</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569061/studiophotocreation/families/Galina-Lionid/SPC_0352_nh68ge.webp"
                                alt="A photo from Galina's and Lionid's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/galina-lionid">Galina-Lionid</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569150/studiophotocreation/families/Ioulia-Alexey/SPC_0538_yfdlvn.webp"
                                alt="A photo from Ioulia's and Alexey's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/ioulia-alexey">Ioulia-Alexey</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569254/studiophotocreation/families/Julia-Sofia/SPC_0342_hqatbs.webp"
                                alt="A photo from Julia's and Sofia's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/julia-sofia">Julia-Sofia</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569312/studiophotocreation/families/Maria-Natalie/SPC_0155_hpbe6j.webp"
                                alt="A photo from Maria's and Natalie's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/maria-natalie">Maria-Natalie</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569433/studiophotocreation/families/Rianna-Ralf/SPC_0242_hmyl9r.webp"
                                alt="A photo from Rianna's and Ralf's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/rianna-ralf">Rianna-Ralf</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569531/studiophotocreation/families/Rouslan-Irina/SPC_0074_vnc6zl.webp"
                                alt="A photo from Rouslan's and Irina's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/rouslan-irina">Rouslan-Irina</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569583/studiophotocreation/families/Sofie-Ioulia/SPC_0010_kcnimz.webp"
                                alt="A photo from Sofie's and Ioulia's family photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/families/sofie-ioulia">Sofie-Ioulia</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568988/studiophotocreation/families/Filippos-Emanouela/SPC_0073_tu2w0c.webp"
                            alt="A photo from Filippos's and Emanouela's family photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569061/studiophotocreation/families/Galina-Lionid/SPC_0352_nh68ge.webp"
                            alt="A photo from Galina's and Lionid's family photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569312/studiophotocreation/families/Maria-Natalie/SPC_0155_hpbe6j.webp"
                            alt="A photo from Maria's and Natalie's family photoshoot">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>