<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="A complete list of model photoshoots from wedding photographer Dimitris Domouchtsis">
        <title>Models - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
                <%- include('../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568166/studiophotocreation/models/Anna/SPC_0040_qfmepy.webp"
                            alt="A photo from Anna's model photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568292/studiophotocreation/models/Elena/SPC_0867_uhwvaa.webp"
                            alt="A photo from Elena's model photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax left-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0106-2_uj9ifb.webp"
                            alt="A photo from Johanna's model photoshoot">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/anna">Anna</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/d-and-d">D & D</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/elena">Elena</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/johanna">Johanna</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/karlin">Karlin</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/natalie">Natalie</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/olga">Olga</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/models/sveta">Sveta</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568166/studiophotocreation/models/Anna/SPC_0040_qfmepy.webp"
                                alt="A photo from Anna's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/anna">Anna</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568230/studiophotocreation/models/D%20n%20D/SPC_0291_uqzwgu.webp"
                                alt="A photo from D & D's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/d-and-d">D & D</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568292/studiophotocreation/models/Elena/SPC_0867_uhwvaa.webp"
                                alt="A photo from Elena's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/elena">Elena</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568354/studiophotocreation/models/Johanna/SPC_0106-2_uj9ifb.webp"
                                alt="A photo from Johanna's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/johanna">Johanna</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568407/studiophotocreation/models/Karlin/SPC_0055_hvqpu0.webp"
                                alt="A photo from Karlin's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/karlin">Karlin</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0696_hvif3q.webp"
                                alt="A photo from Natalie's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/natalie">Natalie</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0197_chcfzm.webp"
                                alt="A photo from Olga's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/olga">Olga</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0923_c3iupa.webp"
                                alt="A photo from Sveta's model photoshoot">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/models/sveta">Sveta</a>
                        </div>
                    </div>
                </div>
                <div class="right-portfolio">
                    <figure class="portfolio-figure rellax right-portfolio-img-2" data-rellax-speed="5">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568481/studiophotocreation/models/Natalie/SPC_0696_hvif3q.webp"
                            alt="A photo from Natalie's model photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-3" data-rellax-speed="2">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568511/studiophotocreation/models/Olga/SPC_0197_chcfzm.webp"
                            alt="A photo from Olga's model photoshoot">
                    </figure>
                    <figure class="portfolio-figure rellax right-portfolio-img-4" data-rellax-speed="4">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568569/studiophotocreation/models/Sveta/SPC_0923_c3iupa.webp"
                            alt="A photo from Sveta's model photoshoot">
                    </figure>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>