<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description" content="A complete list of proposals from wedding photographer Dimitris Domouchtsis">
        <title>Proposals - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

        <nav>
            <%- include('../partials/navbar') %>
                <%- include('../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-portfolio">
                <div class="left-portfolio">
                    <figure class="portfolio-figure rellax left-portfolio-img-1" data-rellax-speed="3">
                        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567848/studiophotocreation/proposals/Antreas-Athina/SPC_0084_df2zky.webp"
                            alt="A photo from Andreas's and Athina's proposal">
                    </figure>
                </div>
                <div class="middle-portfolio">
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/proposals/andreas-athina">Andreas-Athina</a>
                    </div>
                    <div class="text-portfolio">
                        <a class="categories-button" href="/portfolio/proposals/chirag-priyanka">Chirag-Priyanka</a>
                    </div>
                </div>
                <div class="middle-portfolio-750px">
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636567848/studiophotocreation/proposals/Antreas-Athina/SPC_0084_df2zky.webp"
                                alt="A photo from Andreas's and Athina's proposal">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/proposals/andreas-athina">Andreas-Athina</a>
                        </div>
                    </div>
                    <div class="div-category">
                        <div class="container-img">
                            <img class="category-img scale-img"
                                src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568086/studiophotocreation/proposals/Chirag-Priyanka/SPC_0206_bi3mjd.webp"
                                alt="A photo from Chirag's and Priyanka's proposal">
                        </div>
                        <div class="categories-text">
                            <a class="categories-button" href="/portfolio/proposals/chirag-priyanka">Chirag-Priyanka</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>