<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description"
        content="A complete list of wedding mini stories from wedding photographer Dimitris Domouchtsis">
    <title>Wedding Mini Stories - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../partials/transition') %>

    <nav>
        <%- include('../partials/navbar') %>
        <%- include('../partials/breadcrumb') %>
    </nav>

    <main>
        <section class="main-portfolio">
            <div class="left-portfolio">
                <figure class="portfolio-figure left-portfolio-img-1">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243457/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_16_fjkuci.webp"
                        alt="A photo from Beth's and David's wedding">
                </figure>
                <figure class="portfolio-figure left-portfolio-img-2">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243486/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_9_gxwcsh.webp"
                        alt="A photo from Farrah's and Matthew's wedding">
                </figure>
                <figure class="portfolio-figure left-portfolio-img-3">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_1_pajv1c.webp"
                        alt="A photo from Jade's and Craig's wedding">
                </figure>
            </div>
            <div class="middle-portfolio">
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/amy-daniel">Amy-Daniel</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/beth-david">Beth-David</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/farrah-matthew">Farrah-Matthew</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/gemma-kane">Gemma-Kane</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/jade-craig">Jade-Craig</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/jemma-carl">Jemma-Carl</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/katrina-scott">katrina-scott</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/laura-leigh">laura-leigh</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/laura-robert">laura-robert</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/lauren-ben">lauren-ben</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/lauren-simon">lauren-simon</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/lisa-darren">lisa-darren</a>
                </div>
                <div class="text-portfolio">
                    <a class="categories-button" href="/portfolio/wedding-stories/stacey-aaron">stacey-aaron</a>
                </div>
            </div>
            <div class="middle-portfolio-750px">
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246648/studiophotocreation/AMY_DANIEL_7a_vsup8v.webp"
                            alt="A photo from Amy's and Daniel's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/amy-daniel">Amy-Daniel</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243457/studiophotocreation/wedding-stories/beth-david/DAVID_BETH_16_fjkuci.webp"
                            alt="A photo from Beth's and David's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/beth-david">Beth-David</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243486/studiophotocreation/wedding-stories/farrah-matthew/MATHEW_FARRAH_9_gxwcsh.webp"
                            alt="A photo from Farrah's and Matthew's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/farrah-matthew">Farrah-Matthew</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246712/studiophotocreation/GEMMA_KANE_5a_ekeb9y.webp"
                            alt="A photo from Gemma's and Kane's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/gemma-kane">Gemma-Kane</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243545/studiophotocreation/wedding-stories/jade-craig/JADE_CRAIG_1_pajv1c.webp"
                            alt="A photo from Jade's and Craig's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/jade-craig">Jade-Craig</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243600/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_13_j0orvq.webp"
                            alt="A photo from Jemma's and Carl's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/jemma-carl">Jemma-Carl</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243625/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_1_sdzgzg.webp"
                            alt="A photo from Katrina's and Scott's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/katrina-scott">katrina-scott</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243669/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_26_ofvtbq.webp"
                            alt="A photo from Laura's and Leigh's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/laura-leigh">laura-leigh</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243691/studiophotocreation/wedding-stories/laura-robert/LAURA_ROBERT_4_o4vt2j.webp"
                            alt="A photo from Laura's and Robert's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/laura-robert">laura-robert</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243748/studiophotocreation/wedding-stories/lauren-ben/BEN_LAUREN_12_z4nuc2.webp"
                            alt="A photo from Laura's and Ben's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/lauren-ben">lauren-ben</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632246871/studiophotocreation/Simon_Lauren_21a_xivtha.webp"
                            alt="A photo from Lauren's and Simon's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/lauren-simon">lauren-simon</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243810/studiophotocreation/wedding-stories/lisa-darren/LISA_DARREN_5_blmejo.webp"
                            alt="A photo from Lisa's and Darren's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/lisa-darren">lisa-darren</a>
                    </div>
                </div>
                <div class="div-category">
                    <div class="container-img">
                        <img class="category-img scale-img"
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243868/studiophotocreation/wedding-stories/stacey-aaron/SPC_0339_jsmfdp.webp"
                            alt="A photo from Stacey's and Aaron's wedding">
                    </div>
                    <div class="categories-text">
                        <a class="categories-button" href="/portfolio/wedding-stories/stacey-aaron">stacey-aaron</a>
                    </div>
                </div>
            </div>
            <div class="right-portfolio">
                <figure class="portfolio-figure right-portfolio-img-2">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243600/studiophotocreation/wedding-stories/jemma-carl/CARL_JEMMA_13_j0orvq.webp"
                        alt="A photo from Jemma's and Carl's wedding">
                </figure>
                <figure class="portfolio-figure right-portfolio-img-3">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243625/studiophotocreation/wedding-stories/katrina-scott/scott_katrina_1_sdzgzg.webp"
                        alt="A photo from Katrina's and Scott's wedding">
                </figure>
                <figure class="portfolio-figure right-portfolio-img-4">
                    <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632243669/studiophotocreation/wedding-stories/laura-leigh/LAURA_LEIGH_26_ofvtbq.webp"
                        alt="A photo from Laura's and Leigh's wedding">
                </figure>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/main.js"></script>
</body>

</html>