<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Alexander's and Yiana's family photoshoot in Paphos, Cyprus">
        <title>Alexander and Yiana family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568782/studiophotocreation/families/Alexander-Yiana/SPC_0003_cib0at.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568782/studiophotocreation/families/Alexander-Yiana/SPC_0035_inbcob.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568782/studiophotocreation/families/Alexander-Yiana/SPC_0040_d3xh0y.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568782/studiophotocreation/families/Alexander-Yiana/SPC_0052_fnuwai.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568782/studiophotocreation/families/Alexander-Yiana/SPC_0053_vvkt27.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568784/studiophotocreation/families/Alexander-Yiana/SPC_0059_c1znvt.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568783/studiophotocreation/families/Alexander-Yiana/SPC_0089_wlreyz.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568784/studiophotocreation/families/Alexander-Yiana/SPC_0090_tnubwo.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568786/studiophotocreation/families/Alexander-Yiana/SPC_0114_d3b3h1.webp"
                        alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568785/studiophotocreation/families/Alexander-Yiana/SPC_0120_ju8qwm.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568784/studiophotocreation/families/Alexander-Yiana/SPC_0122_tkosvj.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568785/studiophotocreation/families/Alexander-Yiana/SPC_0130_hkhqo4.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568787/studiophotocreation/families/Alexander-Yiana/SPC_0147_xtmw5n.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568792/studiophotocreation/families/Alexander-Yiana/SPC_0157_ow5ljm.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568787/studiophotocreation/families/Alexander-Yiana/SPC_0158_h9551h.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568787/studiophotocreation/families/Alexander-Yiana/SPC_0175_ovmekr.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568789/studiophotocreation/families/Alexander-Yiana/SPC_0180_y60zdp.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568791/studiophotocreation/families/Alexander-Yiana/SPC_0199_ombwiy.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568790/studiophotocreation/families/Alexander-Yiana/SPC_0204_xdclrl.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568792/studiophotocreation/families/Alexander-Yiana/SPC_0216_en9c7v.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568791/studiophotocreation/families/Alexander-Yiana/SPC_0224_yhydgk.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568791/studiophotocreation/families/Alexander-Yiana/SPC_0226_pclsjr.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568793/studiophotocreation/families/Alexander-Yiana/SPC_0237_lsxfzp.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568795/studiophotocreation/families/Alexander-Yiana/SPC_0256_ygmcms.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568792/studiophotocreation/families/Alexander-Yiana/SPC_0258_vrp0pc.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568793/studiophotocreation/families/Alexander-Yiana/SPC_0259_ftzrzk.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568800/studiophotocreation/families/Alexander-Yiana/SPC_0263_cmwifb.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568798/studiophotocreation/families/Alexander-Yiana/SPC_0277_nonb1x.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568796/studiophotocreation/families/Alexander-Yiana/SPC_0291_fmlrot.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568798/studiophotocreation/families/Alexander-Yiana/SPC_0292_nzkytv.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568795/studiophotocreation/families/Alexander-Yiana/SPC_0325_ef89cz.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568797/studiophotocreation/families/Alexander-Yiana/SPC_0326_ihmxf2.webp"
                        loading="lazy" alt="A photo from Alexander's and Yiana's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>