<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Alex's and Xenia's family photshoot in Paphos, Cyprus">
        <title>Alex and Xenia family photshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568723/studiophotocreation/families/Alex-Xenia/SPC_0016_zdpmer.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568724/studiophotocreation/families/Alex-Xenia/SPC_0020_yfdazh.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568724/studiophotocreation/families/Alex-Xenia/SPC_0022_ugcqqi.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568723/studiophotocreation/families/Alex-Xenia/SPC_0026_i6imna.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568725/studiophotocreation/families/Alex-Xenia/SPC_0029_w1unw2.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568724/studiophotocreation/families/Alex-Xenia/SPC_0048_agariq.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568724/studiophotocreation/families/Alex-Xenia/SPC_0062_ey4yiz.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568725/studiophotocreation/families/Alex-Xenia/SPC_0068_rrlx78.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568725/studiophotocreation/families/Alex-Xenia/SPC_0069_mkltuk.webp"
                        alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568726/studiophotocreation/families/Alex-Xenia/SPC_0072_imqlgl.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568727/studiophotocreation/families/Alex-Xenia/SPC_0096_vicb7t.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568725/studiophotocreation/families/Alex-Xenia/SPC_0106_zf20qo.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568727/studiophotocreation/families/Alex-Xenia/SPC_0123_nlv3zn.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568729/studiophotocreation/families/Alex-Xenia/SPC_0126_mqgs2d.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568727/studiophotocreation/families/Alex-Xenia/SPC_0128_etccdz.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568727/studiophotocreation/families/Alex-Xenia/SPC_0136_pijhg9.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568728/studiophotocreation/families/Alex-Xenia/SPC_0139_gpcv4o.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568729/studiophotocreation/families/Alex-Xenia/SPC_0144_yqgagh.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568729/studiophotocreation/families/Alex-Xenia/SPC_0148_pjusvn.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568728/studiophotocreation/families/Alex-Xenia/SPC_0149_a00dlj.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568729/studiophotocreation/families/Alex-Xenia/SPC_0150_ab1rre.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568729/studiophotocreation/families/Alex-Xenia/SPC_0155_pjncw4.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568730/studiophotocreation/families/Alex-Xenia/SPC_0157_pjq4ps.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568731/studiophotocreation/families/Alex-Xenia/SPC_0175_puydcs.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568732/studiophotocreation/families/Alex-Xenia/SPC_0177_c9w3jx.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568731/studiophotocreation/families/Alex-Xenia/SPC_0179_dcwqjd.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568733/studiophotocreation/families/Alex-Xenia/SPC_0191_t3azaz.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568734/studiophotocreation/families/Alex-Xenia/SPC_0195_x4jaus.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568732/studiophotocreation/families/Alex-Xenia/SPC_0219_qo3el2.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568733/studiophotocreation/families/Alex-Xenia/SPC_0223_sephkw.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568736/studiophotocreation/families/Alex-Xenia/SPC_0227_cfnhpt.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568734/studiophotocreation/families/Alex-Xenia/SPC_0240_dnvtz2.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568734/studiophotocreation/families/Alex-Xenia/SPC_0243_vomkrp.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568734/studiophotocreation/families/Alex-Xenia/SPC_0247_aigo1t.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568735/studiophotocreation/families/Alex-Xenia/SPC_0248_cagfev.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568735/studiophotocreation/families/Alex-Xenia/SPC_0249_us0iuh.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568735/studiophotocreation/families/Alex-Xenia/SPC_0251_evivmm.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568736/studiophotocreation/families/Alex-Xenia/SPC_0261_dthzxq.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568735/studiophotocreation/families/Alex-Xenia/SPC_0264_miydjk.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568736/studiophotocreation/families/Alex-Xenia/SPC_0271_fgkvlx.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568736/studiophotocreation/families/Alex-Xenia/SPC_0274_lftjcn.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568736/studiophotocreation/families/Alex-Xenia/SPC_0277_qbfnuu.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568740/studiophotocreation/families/Alex-Xenia/SPC_0290_i6r7sp.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568738/studiophotocreation/families/Alex-Xenia/SPC_0305_v8vqwz.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568744/studiophotocreation/families/Alex-Xenia/SPC_0328_zzto9a.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568739/studiophotocreation/families/Alex-Xenia/SPC_0330_anzgkm.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568744/studiophotocreation/families/Alex-Xenia/SPC_0335_kjfdan.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568740/studiophotocreation/families/Alex-Xenia/SPC_0336_m2g2gj.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568741/studiophotocreation/families/Alex-Xenia/SPC_0365_tyjos8.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568743/studiophotocreation/families/Alex-Xenia/SPC_0370_kqbqg4.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568742/studiophotocreation/families/Alex-Xenia/SPC_0371_jrppdv.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568747/studiophotocreation/families/Alex-Xenia/SPC_0375_a8cqhb.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568744/studiophotocreation/families/Alex-Xenia/SPC_0377_crex60.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568744/studiophotocreation/families/Alex-Xenia/SPC_0383_f56xlv.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568745/studiophotocreation/families/Alex-Xenia/SPC_0384_w5fx5w.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568746/studiophotocreation/families/Alex-Xenia/SPC_0387_tbuiii.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568745/studiophotocreation/families/Alex-Xenia/SPC_0395_sv8vj0.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568747/studiophotocreation/families/Alex-Xenia/SPC_0405_thoqiu.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568746/studiophotocreation/families/Alex-Xenia/SPC_0411_dbmsze.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568747/studiophotocreation/families/Alex-Xenia/SPC_0416_ldlepx.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568747/studiophotocreation/families/Alex-Xenia/SPC_0418_r0b8c4.webp"
                        loading="lazy" alt="A photo from Alex's and Xenia's family photshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>