<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Alex's and Priyanka's family photoshoot in Paphos, Cyprus">
        <title>Alex and Gianna family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568684/studiophotocreation/families/Alex-Gianna/SPC_0001_umpe6t.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568672/studiophotocreation/families/Alex-Gianna/SPC_0022_blceue.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568672/studiophotocreation/families/Alex-Gianna/SPC_0024_myn4jk.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568678/studiophotocreation/families/Alex-Gianna/SPC_0052_ub9ehn.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568672/studiophotocreation/families/Alex-Gianna/SPC_0083_vlpyie.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568672/studiophotocreation/families/Alex-Gianna/SPC_0098_cv0vna.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568673/studiophotocreation/families/Alex-Gianna/SPC_0113_fcixbp.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568674/studiophotocreation/families/Alex-Gianna/SPC_0114_xzbazf.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568674/studiophotocreation/families/Alex-Gianna/SPC_0145_refxvq.webp"
                        alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568674/studiophotocreation/families/Alex-Gianna/SPC_0146_poaepu.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568677/studiophotocreation/families/Alex-Gianna/SPC_0183_vp1txq.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568678/studiophotocreation/families/Alex-Gianna/SPC_0187_cuvyi9.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568676/studiophotocreation/families/Alex-Gianna/SPC_0200_audxin.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568676/studiophotocreation/families/Alex-Gianna/SPC_0206_i8ofa3.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568676/studiophotocreation/families/Alex-Gianna/SPC_0211_ey6s37.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568678/studiophotocreation/families/Alex-Gianna/SPC_0215_ddcau3.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568678/studiophotocreation/families/Alex-Gianna/SPC_0218_ezemzl.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568679/studiophotocreation/families/Alex-Gianna/SPC_0225_ljb0ww.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568679/studiophotocreation/families/Alex-Gianna/SPC_0227_zidec8.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568681/studiophotocreation/families/Alex-Gianna/SPC_0250_qkm1x6.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568680/studiophotocreation/families/Alex-Gianna/SPC_0255_qvp9dt.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568681/studiophotocreation/families/Alex-Gianna/SPC_0256_vfzpi8.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568683/studiophotocreation/families/Alex-Gianna/SPC_0268_pfxkip.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568680/studiophotocreation/families/Alex-Gianna/SPC_0271_kyzndn.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568682/studiophotocreation/families/Alex-Gianna/SPC_0289_d9dwak.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568682/studiophotocreation/families/Alex-Gianna/SPC_0293_yalrxp.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568684/studiophotocreation/families/Alex-Gianna/SPC_0299_jinevu.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568684/studiophotocreation/families/Alex-Gianna/SPC_0304_gyp7a5.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568684/studiophotocreation/families/Alex-Gianna/SPC_0308_vqlyoc.webp"
                        loading="lazy" alt="A photo from Alex's and Gianna's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>