<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Angelika's and Misha's family photoshoot in Paphos, Cyprus">
        <title>Angelika and Misha family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568837/studiophotocreation/families/Angelika-Misha/SPC_0231_rxq4ci.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568838/studiophotocreation/families/Angelika-Misha/SPC_0235_db6wke.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568838/studiophotocreation/families/Angelika-Misha/SPC_0237_ulbxxc.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568841/studiophotocreation/families/Angelika-Misha/SPC_0240_eumvwz.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568841/studiophotocreation/families/Angelika-Misha/SPC_0252_hxrctb.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568840/studiophotocreation/families/Angelika-Misha/SPC_0254_lb7g3v.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568838/studiophotocreation/families/Angelika-Misha/SPC_0255_px8qp8.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568842/studiophotocreation/families/Angelika-Misha/SPC_0257_hqt3da.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568842/studiophotocreation/families/Angelika-Misha/SPC_0263_icl3xl.webp"
                        alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568840/studiophotocreation/families/Angelika-Misha/SPC_0264_i152zi.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568843/studiophotocreation/families/Angelika-Misha/SPC_0290_ogbokp.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568843/studiophotocreation/families/Angelika-Misha/SPC_0294_qui9lq.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568844/studiophotocreation/families/Angelika-Misha/SPC_0297_aouggu.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568843/studiophotocreation/families/Angelika-Misha/SPC_0300_a7xjku.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568844/studiophotocreation/families/Angelika-Misha/SPC_0301_ck9sdt.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568843/studiophotocreation/families/Angelika-Misha/SPC_0303_fmt7ii.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568845/studiophotocreation/families/Angelika-Misha/SPC_0306_jbugvo.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568846/studiophotocreation/families/Angelika-Misha/SPC_0308_mochij.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568845/studiophotocreation/families/Angelika-Misha/SPC_0309_n9ubvz.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568845/studiophotocreation/families/Angelika-Misha/SPC_0312_p1yszi.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568847/studiophotocreation/families/Angelika-Misha/SPC_0314_end7cr.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568847/studiophotocreation/families/Angelika-Misha/SPC_0316_vio8df.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568847/studiophotocreation/families/Angelika-Misha/SPC_0326_owizww.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568847/studiophotocreation/families/Angelika-Misha/SPC_0335_qdapzo.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568847/studiophotocreation/families/Angelika-Misha/SPC_0337_rlvhai.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568849/studiophotocreation/families/Angelika-Misha/SPC_0363_mmowlj.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568850/studiophotocreation/families/Angelika-Misha/SPC_0372_kkdton.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568848/studiophotocreation/families/Angelika-Misha/SPC_0377_ypeirc.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568850/studiophotocreation/families/Angelika-Misha/SPC_0384_fcmx0a.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568849/studiophotocreation/families/Angelika-Misha/SPC_0387_unjrkk.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568852/studiophotocreation/families/Angelika-Misha/SPC_0389_hwhlx7.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568851/studiophotocreation/families/Angelika-Misha/SPC_0391_curtn1.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568854/studiophotocreation/families/Angelika-Misha/SPC_0401_ot8wqk.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568852/studiophotocreation/families/Angelika-Misha/SPC_0412_gike3f.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568853/studiophotocreation/families/Angelika-Misha/SPC_0415_musays.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568853/studiophotocreation/families/Angelika-Misha/SPC_0416_kclkdd.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568853/studiophotocreation/families/Angelika-Misha/SPC_0422_qcadwj.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568853/studiophotocreation/families/Angelika-Misha/SPC_0425_il04iw.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568853/studiophotocreation/families/Angelika-Misha/SPC_0426_imrp5v.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568854/studiophotocreation/families/Angelika-Misha/SPC_0431_i0kpda.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568854/studiophotocreation/families/Angelika-Misha/SPC_0435_srvfhe.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568854/studiophotocreation/families/Angelika-Misha/SPC_0438_omulz9.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568854/studiophotocreation/families/Angelika-Misha/SPC_0441_zkgikd.webp"
                        loading="lazy" alt="A photo from Angelika's and Misha's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>