<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Baskhkim's and Shkourte's family photoshoot in Paphos, Cyprus">
        <title>Baskhkim and Shkourte family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568899/studiophotocreation/families/Baskhkim-Shkourte/SPC_0004_iuusoh.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568898/studiophotocreation/families/Baskhkim-Shkourte/SPC_0018_ldzgu4.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568900/studiophotocreation/families/Baskhkim-Shkourte/SPC_0021_spcbta.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568898/studiophotocreation/families/Baskhkim-Shkourte/SPC_0029_ybqkvb.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568898/studiophotocreation/families/Baskhkim-Shkourte/SPC_0045_cxapct.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568901/studiophotocreation/families/Baskhkim-Shkourte/SPC_0054_vkj6mc.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568901/studiophotocreation/families/Baskhkim-Shkourte/SPC_0055_oysv8h.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568901/studiophotocreation/families/Baskhkim-Shkourte/SPC_0057_ckwhg1.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568900/studiophotocreation/families/Baskhkim-Shkourte/SPC_0063_anlf0b.webp"
                        alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568903/studiophotocreation/families/Baskhkim-Shkourte/SPC_0071_uk9ip8.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568901/studiophotocreation/families/Baskhkim-Shkourte/SPC_0076_qnkfnh.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568902/studiophotocreation/families/Baskhkim-Shkourte/SPC_0082_cfws2b.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568903/studiophotocreation/families/Baskhkim-Shkourte/SPC_0088_u7uyy3.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568905/studiophotocreation/families/Baskhkim-Shkourte/SPC_0095_xdzixu.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568904/studiophotocreation/families/Baskhkim-Shkourte/SPC_0097_hfre5k.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568905/studiophotocreation/families/Baskhkim-Shkourte/SPC_0115_betk57.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568904/studiophotocreation/families/Baskhkim-Shkourte/SPC_0130_ozbgmo.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568908/studiophotocreation/families/Baskhkim-Shkourte/SPC_0138_h79l0q.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568906/studiophotocreation/families/Baskhkim-Shkourte/SPC_0142_gvxkz3.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568911/studiophotocreation/families/Baskhkim-Shkourte/SPC_0144_hqjyrv.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568909/studiophotocreation/families/Baskhkim-Shkourte/SPC_0146_hukh0s.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568911/studiophotocreation/families/Baskhkim-Shkourte/SPC_0155_ocqpf0.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568909/studiophotocreation/families/Baskhkim-Shkourte/SPC_0159_uxcgbw.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568909/studiophotocreation/families/Baskhkim-Shkourte/SPC_0164_gac74a.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568913/studiophotocreation/families/Baskhkim-Shkourte/SPC_0177_dom58n.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568910/studiophotocreation/families/Baskhkim-Shkourte/SPC_0181_iivxse.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568911/studiophotocreation/families/Baskhkim-Shkourte/SPC_0185_hcpo3a.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568915/studiophotocreation/families/Baskhkim-Shkourte/SPC_0202_gwonxt.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568916/studiophotocreation/families/Baskhkim-Shkourte/SPC_0206_lnlwqc.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568921/studiophotocreation/families/Baskhkim-Shkourte/SPC_0208_fugahl.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568913/studiophotocreation/families/Baskhkim-Shkourte/SPC_0212_u9dsau.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568914/studiophotocreation/families/Baskhkim-Shkourte/SPC_0246_k8jhzf.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568916/studiophotocreation/families/Baskhkim-Shkourte/SPC_0252_ukel3o.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568915/studiophotocreation/families/Baskhkim-Shkourte/SPC_0254_yl1mcm.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568921/studiophotocreation/families/Baskhkim-Shkourte/SPC_0258_xijndd.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568922/studiophotocreation/families/Baskhkim-Shkourte/SPC_0269_yyxqxc.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568919/studiophotocreation/families/Baskhkim-Shkourte/SPC_0277_gf4lzc.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568918/studiophotocreation/families/Baskhkim-Shkourte/SPC_0284_dzoarw.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568918/studiophotocreation/families/Baskhkim-Shkourte/SPC_0296_vtsw5s.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568920/studiophotocreation/families/Baskhkim-Shkourte/SPC_0300_snkgrz.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568923/studiophotocreation/families/Baskhkim-Shkourte/SPC_0302_mha1tx.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568922/studiophotocreation/families/Baskhkim-Shkourte/SPC_0311_ng1lro.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568925/studiophotocreation/families/Baskhkim-Shkourte/SPC_0316_tslx6a.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568923/studiophotocreation/families/Baskhkim-Shkourte/SPC_0324_owf7qt.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568923/studiophotocreation/families/Baskhkim-Shkourte/SPC_0327_eviy7j.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568924/studiophotocreation/families/Baskhkim-Shkourte/SPC_0332_k47lg3.webp"
                        loading="lazy" alt="A photo from Baskhkim's and Shkourte's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>