<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Filippos's and Emanouela's family photoshoot in Paphos, Cyprus">
        <title>Filippos and Emanouela family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568980/studiophotocreation/families/Filippos-Emanouela/SPC_0008_xv0vx3.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568977/studiophotocreation/families/Filippos-Emanouela/SPC_0014_haeqwc.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568979/studiophotocreation/families/Filippos-Emanouela/SPC_0016_mr98ue.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568979/studiophotocreation/families/Filippos-Emanouela/SPC_0021_e3dtfi.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568978/studiophotocreation/families/Filippos-Emanouela/SPC_0026_loch6c.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568980/studiophotocreation/families/Filippos-Emanouela/SPC_0052_cauvwm.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568982/studiophotocreation/families/Filippos-Emanouela/SPC_0056_ibb28v.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568988/studiophotocreation/families/Filippos-Emanouela/SPC_0073_tu2w0c.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568983/studiophotocreation/families/Filippos-Emanouela/SPC_0083_yigkmy.webp"
                        alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568982/studiophotocreation/families/Filippos-Emanouela/SPC_0085_e6ag9w.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568982/studiophotocreation/families/Filippos-Emanouela/SPC_0090_ptbqhu.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568984/studiophotocreation/families/Filippos-Emanouela/SPC_0099_ei2nau.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568986/studiophotocreation/families/Filippos-Emanouela/SPC_0102_bjkiaf.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568984/studiophotocreation/families/Filippos-Emanouela/SPC_0106_ui0c4h.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568986/studiophotocreation/families/Filippos-Emanouela/SPC_0134_lyntso.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568987/studiophotocreation/families/Filippos-Emanouela/SPC_0136_hjefxg.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568989/studiophotocreation/families/Filippos-Emanouela/SPC_0145_k9qave.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568992/studiophotocreation/families/Filippos-Emanouela/SPC_0149_rk8ub1.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568994/studiophotocreation/families/Filippos-Emanouela/SPC_0163_berdiv.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568992/studiophotocreation/families/Filippos-Emanouela/SPC_0177_eklpn4.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568994/studiophotocreation/families/Filippos-Emanouela/SPC_0200_jrielr.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568992/studiophotocreation/families/Filippos-Emanouela/SPC_0218_kfipzz.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568994/studiophotocreation/families/Filippos-Emanouela/SPC_0233_fjboyq.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568995/studiophotocreation/families/Filippos-Emanouela/SPC_0239_lhfpy9.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568994/studiophotocreation/families/Filippos-Emanouela/SPC_0251_v0jiqm.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568995/studiophotocreation/families/Filippos-Emanouela/SPC_0254_pumeei.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568997/studiophotocreation/families/Filippos-Emanouela/SPC_0270_rtjxud.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568996/studiophotocreation/families/Filippos-Emanouela/SPC_0284_mgkr29.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568998/studiophotocreation/families/Filippos-Emanouela/SPC_0302_vvckh2.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636568998/studiophotocreation/families/Filippos-Emanouela/SPC_0321_edmiph.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569000/studiophotocreation/families/Filippos-Emanouela/SPC_0336_fcq4dv.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569000/studiophotocreation/families/Filippos-Emanouela/SPC_0346_cuhhcl.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569000/studiophotocreation/families/Filippos-Emanouela/SPC_0352_htvnzt.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569001/studiophotocreation/families/Filippos-Emanouela/SPC_0389_x0sa9w.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569000/studiophotocreation/families/Filippos-Emanouela/SPC_0396_cjbdcg.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569005/studiophotocreation/families/Filippos-Emanouela/SPC_0399_zf3gev.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569002/studiophotocreation/families/Filippos-Emanouela/SPC_0405_ikfa7c.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569005/studiophotocreation/families/Filippos-Emanouela/SPC_0425_cqkx4f.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569004/studiophotocreation/families/Filippos-Emanouela/SPC_0427_wie0sh.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569005/studiophotocreation/families/Filippos-Emanouela/SPC_0430_gskh7v.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569003/studiophotocreation/families/Filippos-Emanouela/SPC_0441_gdbvzz.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569004/studiophotocreation/families/Filippos-Emanouela/SPC_0444_vsel0h.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569005/studiophotocreation/families/Filippos-Emanouela/SPC_0449_opv17d.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569007/studiophotocreation/families/Filippos-Emanouela/SPC_0452_lukt8r.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569007/studiophotocreation/families/Filippos-Emanouela/SPC_0456_jz8ecu.webp"
                        loading="lazy" alt="A photo from Filippos's and Emanouela's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>