<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Galina's and Lionid's family photoshoot in Paphos, Cyprus">
        <title>Galina and Lionid family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569041/studiophotocreation/families/Galina-Lionid/SPC_0007_tgx1gi.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569041/studiophotocreation/families/Galina-Lionid/SPC_0028_bkt7jh.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569047/studiophotocreation/families/Galina-Lionid/SPC_0031_mzadsc.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569042/studiophotocreation/families/Galina-Lionid/SPC_0038_uhi5y0.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569040/studiophotocreation/families/Galina-Lionid/SPC_0039_jdees1.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569039/studiophotocreation/families/Galina-Lionid/SPC_0044_fmm8no.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569041/studiophotocreation/families/Galina-Lionid/SPC_0046_lmvhi0.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569043/studiophotocreation/families/Galina-Lionid/SPC_0051_gbakuy.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569043/studiophotocreation/families/Galina-Lionid/SPC_0053_axclri.webp"
                        alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569044/studiophotocreation/families/Galina-Lionid/SPC_0065_av7p7i.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569044/studiophotocreation/families/Galina-Lionid/SPC_0070_yca4ry.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569047/studiophotocreation/families/Galina-Lionid/SPC_0076_iamhu2.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569045/studiophotocreation/families/Galina-Lionid/SPC_0086_zqvcy1.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569048/studiophotocreation/families/Galina-Lionid/SPC_0088_kyd2s2.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569046/studiophotocreation/families/Galina-Lionid/SPC_0099_srmgbw.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569051/studiophotocreation/families/Galina-Lionid/SPC_0117_fiehew.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569048/studiophotocreation/families/Galina-Lionid/SPC_0121_d4rnc5.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569048/studiophotocreation/families/Galina-Lionid/SPC_0128_p0eum8.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569050/studiophotocreation/families/Galina-Lionid/SPC_0135_rkvrnh.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569056/studiophotocreation/families/Galina-Lionid/SPC_0139_zb4ipw.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569051/studiophotocreation/families/Galina-Lionid/SPC_0161_ojzg1h.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569053/studiophotocreation/families/Galina-Lionid/SPC_0203_efpq1k.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569051/studiophotocreation/families/Galina-Lionid/SPC_0206_bqhzd1.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569055/studiophotocreation/families/Galina-Lionid/SPC_0209_junyon.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569055/studiophotocreation/families/Galina-Lionid/SPC_0213_hyvgdo.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569055/studiophotocreation/families/Galina-Lionid/SPC_0237_tmzmj9.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569056/studiophotocreation/families/Galina-Lionid/SPC_0254_ipxz8f.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569055/studiophotocreation/families/Galina-Lionid/SPC_0265_ppwtip.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569056/studiophotocreation/families/Galina-Lionid/SPC_0274_hftvng.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569056/studiophotocreation/families/Galina-Lionid/SPC_0287_akijne.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569057/studiophotocreation/families/Galina-Lionid/SPC_0289_sd72eh.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569058/studiophotocreation/families/Galina-Lionid/SPC_0304_xgadfh.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569060/studiophotocreation/families/Galina-Lionid/SPC_0307_aqakhd.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569060/studiophotocreation/families/Galina-Lionid/SPC_0312_xmuqw6.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569060/studiophotocreation/families/Galina-Lionid/SPC_0320_venz6e.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569059/studiophotocreation/families/Galina-Lionid/SPC_0327_hfbx9b.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569061/studiophotocreation/families/Galina-Lionid/SPC_0333_m82ss6.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569061/studiophotocreation/families/Galina-Lionid/SPC_0335_nqaivf.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569061/studiophotocreation/families/Galina-Lionid/SPC_0352_nh68ge.webp"
                        loading="lazy" alt="A photo from Galina's and Lionid's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>