<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Ioulia's and Alexey's family photoshoot in Paphos, Cyprus">
        <title>Ioulia and Alexey family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569109/studiophotocreation/families/Ioulia-Alexey/SPC_0005_nufeha.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569109/studiophotocreation/families/Ioulia-Alexey/SPC_0009_k3risa.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569109/studiophotocreation/families/Ioulia-Alexey/SPC_0013_tqltdx.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569110/studiophotocreation/families/Ioulia-Alexey/SPC_0017_znhrf3.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569110/studiophotocreation/families/Ioulia-Alexey/SPC_0022_phuyak.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569110/studiophotocreation/families/Ioulia-Alexey/SPC_0033_lyt1ow.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569110/studiophotocreation/families/Ioulia-Alexey/SPC_0041_ongic5.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569110/studiophotocreation/families/Ioulia-Alexey/SPC_0044_ck2shq.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569112/studiophotocreation/families/Ioulia-Alexey/SPC_0047_kgwsif.webp"
                        alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569112/studiophotocreation/families/Ioulia-Alexey/SPC_0050_km61za.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569112/studiophotocreation/families/Ioulia-Alexey/SPC_0055_gavru1.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569113/studiophotocreation/families/Ioulia-Alexey/SPC_0076_yvgkyl.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569112/studiophotocreation/families/Ioulia-Alexey/SPC_0095_nsn9g2.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569112/studiophotocreation/families/Ioulia-Alexey/SPC_0097_h0e1gj.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569113/studiophotocreation/families/Ioulia-Alexey/SPC_0105_zdbvdh.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569115/studiophotocreation/families/Ioulia-Alexey/SPC_0116_z7fqwr.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569115/studiophotocreation/families/Ioulia-Alexey/SPC_0121_dv2i8j.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569115/studiophotocreation/families/Ioulia-Alexey/SPC_0125_das65m.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569115/studiophotocreation/families/Ioulia-Alexey/SPC_0127_ymy4sh.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569118/studiophotocreation/families/Ioulia-Alexey/SPC_0131_dzhtja.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569116/studiophotocreation/families/Ioulia-Alexey/SPC_0137_r7hhvw.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569116/studiophotocreation/families/Ioulia-Alexey/SPC_0140_vej3vz.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569117/studiophotocreation/families/Ioulia-Alexey/SPC_0147_sdupji.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569120/studiophotocreation/families/Ioulia-Alexey/SPC_0153_usxdpl.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569118/studiophotocreation/families/Ioulia-Alexey/SPC_0168_rzmntv.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569118/studiophotocreation/families/Ioulia-Alexey/SPC_0179_ytcger.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569118/studiophotocreation/families/Ioulia-Alexey/SPC_0182_uhyoxa.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569125/studiophotocreation/families/Ioulia-Alexey/SPC_0196_gmwonq.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569121/studiophotocreation/families/Ioulia-Alexey/SPC_0197_tptrpr.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569127/studiophotocreation/families/Ioulia-Alexey/SPC_0216_dw1ypq.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569120/studiophotocreation/families/Ioulia-Alexey/SPC_0226_ceilrf.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569120/studiophotocreation/families/Ioulia-Alexey/SPC_0230_giqiba.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569121/studiophotocreation/families/Ioulia-Alexey/SPC_0236_obw8jb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569122/studiophotocreation/families/Ioulia-Alexey/SPC_0244_zyp5xb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569124/studiophotocreation/families/Ioulia-Alexey/SPC_0254_n8edxi.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569124/studiophotocreation/families/Ioulia-Alexey/SPC_0257_lfgtvz.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569125/studiophotocreation/families/Ioulia-Alexey/SPC_0275_fcigxb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569127/studiophotocreation/families/Ioulia-Alexey/SPC_0290_xhjdvp.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569126/studiophotocreation/families/Ioulia-Alexey/SPC_0300_n8qjt5.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569128/studiophotocreation/families/Ioulia-Alexey/SPC_0313_gv90eo.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569128/studiophotocreation/families/Ioulia-Alexey/SPC_0320_ppwbbb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569127/studiophotocreation/families/Ioulia-Alexey/SPC_0329_kkqlwb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569129/studiophotocreation/families/Ioulia-Alexey/SPC_0339_wzkf5p.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569129/studiophotocreation/families/Ioulia-Alexey/SPC_0347_w8mhwh.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569130/studiophotocreation/families/Ioulia-Alexey/SPC_0351_xe3ptk.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569129/studiophotocreation/families/Ioulia-Alexey/SPC_0362_mnkzvn.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569130/studiophotocreation/families/Ioulia-Alexey/SPC_0367_hw6t9p.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569133/studiophotocreation/families/Ioulia-Alexey/SPC_0369_hths1j.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569133/studiophotocreation/families/Ioulia-Alexey/SPC_0382_m8pszi.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569132/studiophotocreation/families/Ioulia-Alexey/SPC_0400_olzu0o.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569131/studiophotocreation/families/Ioulia-Alexey/SPC_0406_cq90ei.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569131/studiophotocreation/families/Ioulia-Alexey/SPC_0415_vqmivj.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569131/studiophotocreation/families/Ioulia-Alexey/SPC_0425_n3hhtk.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569133/studiophotocreation/families/Ioulia-Alexey/SPC_0431_dbn5sv.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569133/studiophotocreation/families/Ioulia-Alexey/SPC_0436_nfhaiv.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569133/studiophotocreation/families/Ioulia-Alexey/SPC_0438_zpw7d4.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569134/studiophotocreation/families/Ioulia-Alexey/SPC_0447_vsilkk.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569135/studiophotocreation/families/Ioulia-Alexey/SPC_0453_j3uopk.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569136/studiophotocreation/families/Ioulia-Alexey/SPC_0457_hsgsir.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569139/studiophotocreation/families/Ioulia-Alexey/SPC_0460_r8lhox.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569141/studiophotocreation/families/Ioulia-Alexey/SPC_0462_ryvahm.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569139/studiophotocreation/families/Ioulia-Alexey/SPC_0464_blybxp.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569138/studiophotocreation/families/Ioulia-Alexey/SPC_0466_q5h9tz.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569138/studiophotocreation/families/Ioulia-Alexey/SPC_0467_s4pfhw.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569139/studiophotocreation/families/Ioulia-Alexey/SPC_0472_pygtns.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569140/studiophotocreation/families/Ioulia-Alexey/SPC_0481_dwzwsb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569147/studiophotocreation/families/Ioulia-Alexey/SPC_0484_mvblwy.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569145/studiophotocreation/families/Ioulia-Alexey/SPC_0491_ilqorq.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569144/studiophotocreation/families/Ioulia-Alexey/SPC_0495_pnnhra.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569144/studiophotocreation/families/Ioulia-Alexey/SPC_0521_jtusp8.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569147/studiophotocreation/families/Ioulia-Alexey/SPC_0528_wqy0yt.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569150/studiophotocreation/families/Ioulia-Alexey/SPC_0538_yfdlvn.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569147/studiophotocreation/families/Ioulia-Alexey/SPC_0568_bjkmtn.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569147/studiophotocreation/families/Ioulia-Alexey/SPC_0571_oerbjb.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569147/studiophotocreation/families/Ioulia-Alexey/SPC_0573_wkt34w.webp"
                        loading="lazy" alt="A photo from Ioulia's and Alexey's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>