<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Julia's and Sofia's family photoshoot in Paphos, Cyprus">
        <title>Julia and Sofia family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569233/studiophotocreation/families/Julia-Sofia/SPC_0006_udlfo1.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569234/studiophotocreation/families/Julia-Sofia/SPC_0010_dkfqsw.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569231/studiophotocreation/families/Julia-Sofia/SPC_0014_ibwpel.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569231/studiophotocreation/families/Julia-Sofia/SPC_0016_meepum.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569232/studiophotocreation/families/Julia-Sofia/SPC_0018_dc94h7.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569233/studiophotocreation/families/Julia-Sofia/SPC_0023_cbom1r.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569233/studiophotocreation/families/Julia-Sofia/SPC_0026_yrmfv2.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569234/studiophotocreation/families/Julia-Sofia/SPC_0029_hyaxqc.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569234/studiophotocreation/families/Julia-Sofia/SPC_0031_swfrbs.webp"
                        alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569234/studiophotocreation/families/Julia-Sofia/SPC_0032_x2r5qh.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569235/studiophotocreation/families/Julia-Sofia/SPC_0038_zr2zeo.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569236/studiophotocreation/families/Julia-Sofia/SPC_0045_qclyqh.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569239/studiophotocreation/families/Julia-Sofia/SPC_0056_ygbrt5.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569236/studiophotocreation/families/Julia-Sofia/SPC_0057_wif3lo.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569236/studiophotocreation/families/Julia-Sofia/SPC_0060_y2wu3m.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569237/studiophotocreation/families/Julia-Sofia/SPC_0065_unsks9.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569237/studiophotocreation/families/Julia-Sofia/SPC_0073_vt9gtf.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569237/studiophotocreation/families/Julia-Sofia/SPC_0089_ee5nyp.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569238/studiophotocreation/families/Julia-Sofia/SPC_0099_mavsrz.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569238/studiophotocreation/families/Julia-Sofia/SPC_0103_f91sle.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569240/studiophotocreation/families/Julia-Sofia/SPC_0106_lzrerq.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569239/studiophotocreation/families/Julia-Sofia/SPC_0109_o1qrup.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569240/studiophotocreation/families/Julia-Sofia/SPC_0110_q3uspj.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569240/studiophotocreation/families/Julia-Sofia/SPC_0115_szmdu0.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569240/studiophotocreation/families/Julia-Sofia/SPC_0124_qr0sth.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569242/studiophotocreation/families/Julia-Sofia/SPC_0127_knqiy9.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569242/studiophotocreation/families/Julia-Sofia/SPC_0139_fiiw4x.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569242/studiophotocreation/families/Julia-Sofia/SPC_0141_htb7nj.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569243/studiophotocreation/families/Julia-Sofia/SPC_0147_hu3np4.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569247/studiophotocreation/families/Julia-Sofia/SPC_0155_ydmchd.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569243/studiophotocreation/families/Julia-Sofia/SPC_0174_tsqtlw.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569243/studiophotocreation/families/Julia-Sofia/SPC_0181_qsfmvt.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569244/studiophotocreation/families/Julia-Sofia/SPC_0184_xzxezg.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569246/studiophotocreation/families/Julia-Sofia/SPC_0195_tu9vtv.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569245/studiophotocreation/families/Julia-Sofia/SPC_0199_epl6wn.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569246/studiophotocreation/families/Julia-Sofia/SPC_0207_gabkpm.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569246/studiophotocreation/families/Julia-Sofia/SPC_0208_vjnlr0.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569247/studiophotocreation/families/Julia-Sofia/SPC_0223_y3hgzb.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569247/studiophotocreation/families/Julia-Sofia/SPC_0227_njrtz2.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569249/studiophotocreation/families/Julia-Sofia/SPC_0242_gakni4.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569249/studiophotocreation/families/Julia-Sofia/SPC_0245_ot6ae9.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569253/studiophotocreation/families/Julia-Sofia/SPC_0259_glf1hl.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569251/studiophotocreation/families/Julia-Sofia/SPC_0268_n21ff5.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569253/studiophotocreation/families/Julia-Sofia/SPC_0278_st3ku4.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569250/studiophotocreation/families/Julia-Sofia/SPC_0295_kviwts.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569251/studiophotocreation/families/Julia-Sofia/SPC_0298_emrwhv.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569254/studiophotocreation/families/Julia-Sofia/SPC_0342_hqatbs.webp"
                        loading="lazy" alt="A photo from Julia's and Sofia's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>