<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Maria's and Natalie's family photoshoot in Paphos, Cyprus">
        <title>Maria and Natalie family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569294/studiophotocreation/families/Maria-Natalie/SPC_0003_qdod9z.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569294/studiophotocreation/families/Maria-Natalie/SPC_0008_krxc0z.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569293/studiophotocreation/families/Maria-Natalie/SPC_0014_hkokkz.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569293/studiophotocreation/families/Maria-Natalie/SPC_0024_rtfx8m.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569294/studiophotocreation/families/Maria-Natalie/SPC_0029_hzi7i2.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569294/studiophotocreation/families/Maria-Natalie/SPC_0030_ixrti9.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569294/studiophotocreation/families/Maria-Natalie/SPC_0031_usrx5f.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569296/studiophotocreation/families/Maria-Natalie/SPC_0037_xqrwyt.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569295/studiophotocreation/families/Maria-Natalie/SPC_0039_nwaywy.webp"
                        alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569295/studiophotocreation/families/Maria-Natalie/SPC_0041_kgx6df.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569296/studiophotocreation/families/Maria-Natalie/SPC_0043_gp1kn7.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569296/studiophotocreation/families/Maria-Natalie/SPC_0052_rxiden.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569297/studiophotocreation/families/Maria-Natalie/SPC_0055_ylrksh.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569297/studiophotocreation/families/Maria-Natalie/SPC_0059_uwwz9l.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569296/studiophotocreation/families/Maria-Natalie/SPC_0063_mpn1dy.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569299/studiophotocreation/families/Maria-Natalie/SPC_0067_z71bmk.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569299/studiophotocreation/families/Maria-Natalie/SPC_0073_ctojkt.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569298/studiophotocreation/families/Maria-Natalie/SPC_0078_cabm7s.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569299/studiophotocreation/families/Maria-Natalie/SPC_0085_bh8pic.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569299/studiophotocreation/families/Maria-Natalie/SPC_0087_sft3th.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569300/studiophotocreation/families/Maria-Natalie/SPC_0089_kcgn9b.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569300/studiophotocreation/families/Maria-Natalie/SPC_0092_zwituz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569305/studiophotocreation/families/Maria-Natalie/SPC_0093_k0gpsv.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569307/studiophotocreation/families/Maria-Natalie/SPC_0102_hub7cv.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569307/studiophotocreation/families/Maria-Natalie/SPC_0109_sjyriq.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569306/studiophotocreation/families/Maria-Natalie/SPC_0114_pmrh6t.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569309/studiophotocreation/families/Maria-Natalie/SPC_0118_nfeh1t.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569307/studiophotocreation/families/Maria-Natalie/SPC_0130_wlvet2.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569307/studiophotocreation/families/Maria-Natalie/SPC_0134_vzgdzc.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569308/studiophotocreation/families/Maria-Natalie/SPC_0135_dfi6dp.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569309/studiophotocreation/families/Maria-Natalie/SPC_0136_c03ue9.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569309/studiophotocreation/families/Maria-Natalie/SPC_0147_ldlt8p.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569309/studiophotocreation/families/Maria-Natalie/SPC_0150_gvvhbz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569309/studiophotocreation/families/Maria-Natalie/SPC_0152_cfbpqb.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569312/studiophotocreation/families/Maria-Natalie/SPC_0155_hpbe6j.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569311/studiophotocreation/families/Maria-Natalie/SPC_0164_uoeofr.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569312/studiophotocreation/families/Maria-Natalie/SPC_0166_gk8p3l.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569312/studiophotocreation/families/Maria-Natalie/SPC_0167_shaymg.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569317/studiophotocreation/families/Maria-Natalie/SPC_0174_uwvz5z.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569318/studiophotocreation/families/Maria-Natalie/SPC_0178_rv7b8w.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569320/studiophotocreation/families/Maria-Natalie/SPC_0181_afdpwz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569320/studiophotocreation/families/Maria-Natalie/SPC_0182_bij7ud.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569321/studiophotocreation/families/Maria-Natalie/SPC_0184_s26mlx.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569321/studiophotocreation/families/Maria-Natalie/SPC_0188_cwgvt0.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569324/studiophotocreation/families/Maria-Natalie/SPC_0191_psncuw.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569322/studiophotocreation/families/Maria-Natalie/SPC_0197_mdc4ps.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569322/studiophotocreation/families/Maria-Natalie/SPC_0211_pk3tmk.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569322/studiophotocreation/families/Maria-Natalie/SPC_0212_drjteo.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569326/studiophotocreation/families/Maria-Natalie/SPC_0216_nyv9yr.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569329/studiophotocreation/families/Maria-Natalie/SPC_0223_tgerlr.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569331/studiophotocreation/families/Maria-Natalie/SPC_0224_v9uaiz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569333/studiophotocreation/families/Maria-Natalie/SPC_0227_bosaad.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569333/studiophotocreation/families/Maria-Natalie/SPC_0231_h64d3o.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569334/studiophotocreation/families/Maria-Natalie/SPC_0235_f5xrsp.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569336/studiophotocreation/families/Maria-Natalie/SPC_0240_tpgnn1.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569336/studiophotocreation/families/Maria-Natalie/SPC_0242_jtzabu.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569336/studiophotocreation/families/Maria-Natalie/SPC_0260_r25t5l.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569337/studiophotocreation/families/Maria-Natalie/SPC_0262_d9uv1p.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569339/studiophotocreation/families/Maria-Natalie/SPC_0268_zo0szr.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569342/studiophotocreation/families/Maria-Natalie/SPC_0269_bz31m3.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569337/studiophotocreation/families/Maria-Natalie/SPC_0272_vvcywz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569337/studiophotocreation/families/Maria-Natalie/SPC_0278_janhvf.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569338/studiophotocreation/families/Maria-Natalie/SPC_0288_d9hxzv.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569338/studiophotocreation/families/Maria-Natalie/SPC_0291_elggok.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569339/studiophotocreation/families/Maria-Natalie/SPC_0294_gsf3qk.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569339/studiophotocreation/families/Maria-Natalie/SPC_0302_wn2xfd.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569340/studiophotocreation/families/Maria-Natalie/SPC_0304_ekiooo.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569340/studiophotocreation/families/Maria-Natalie/SPC_0307_thw6rz.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569341/studiophotocreation/families/Maria-Natalie/SPC_0309_rehqqc.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569342/studiophotocreation/families/Maria-Natalie/SPC_0310_zcyrhh.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569343/studiophotocreation/families/Maria-Natalie/SPC_0311_yg8wca.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569344/studiophotocreation/families/Maria-Natalie/SPC_0313_a1okoi.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569343/studiophotocreation/families/Maria-Natalie/SPC_0316_exrftt.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569343/studiophotocreation/families/Maria-Natalie/SPC_0319_f1edaw.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569349/studiophotocreation/families/Maria-Natalie/SPC_0338_b0ubdi.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569350/studiophotocreation/families/Maria-Natalie/SPC_0341_vdatfp.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569354/studiophotocreation/families/Maria-Natalie/SPC_0350_tkulti.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569351/studiophotocreation/families/Maria-Natalie/SPC_0364_svhjgf.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569353/studiophotocreation/families/Maria-Natalie/SPC_0367_ip2abs.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569351/studiophotocreation/families/Maria-Natalie/SPC_0368_ieeicg.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569353/studiophotocreation/families/Maria-Natalie/SPC_0384_mwkfr0.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569352/studiophotocreation/families/Maria-Natalie/SPC_0394_x2tbx5.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569353/studiophotocreation/families/Maria-Natalie/SPC_0402_vkjo0a.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569354/studiophotocreation/families/Maria-Natalie/SPC_0405_uulery.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569354/studiophotocreation/families/Maria-Natalie/SPC_0411_zgtqhn.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569356/studiophotocreation/families/Maria-Natalie/SPC_0415_pzbqp8.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569355/studiophotocreation/families/Maria-Natalie/SPC_0483_vonhde.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569357/studiophotocreation/families/Maria-Natalie/SPC_0493_kto9rx.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569356/studiophotocreation/families/Maria-Natalie/SPC_0504_clvrrm.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569357/studiophotocreation/families/Maria-Natalie/SPC_0528_bdlrdv.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569359/studiophotocreation/families/Maria-Natalie/SPC_0531_evjw4x.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569358/studiophotocreation/families/Maria-Natalie/SPC_0536_bzaiuy.webp"
                        loading="lazy" alt="A photo from Maria's and Natalie's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>