<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Rianna's and Ralf's family photoshoot in Paphos, Cyprus">
        <title>Rianna and Ralf family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569415/studiophotocreation/families/Rianna-Ralf/SPC_0006_gam1hr.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569411/studiophotocreation/families/Rianna-Ralf/SPC_0017_w8hhvk.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569411/studiophotocreation/families/Rianna-Ralf/SPC_0034_rhiobj.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569410/studiophotocreation/families/Rianna-Ralf/SPC_0046_fa2oxe.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569412/studiophotocreation/families/Rianna-Ralf/SPC_0053_lukpcw.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569413/studiophotocreation/families/Rianna-Ralf/SPC_0056_qzy5mb.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569413/studiophotocreation/families/Rianna-Ralf/SPC_0064_opztep.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569413/studiophotocreation/families/Rianna-Ralf/SPC_0066_qjsp1p.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569421/studiophotocreation/families/Rianna-Ralf/SPC_0075_wmad4s.webp"
                        alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569417/studiophotocreation/families/Rianna-Ralf/SPC_0085_qfbwmg.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569416/studiophotocreation/families/Rianna-Ralf/SPC_0101_dlvjlo.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569415/studiophotocreation/families/Rianna-Ralf/SPC_0117_gh9cro.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569417/studiophotocreation/families/Rianna-Ralf/SPC_0118_gf4i7j.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569419/studiophotocreation/families/Rianna-Ralf/SPC_0129_xqxawd.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569421/studiophotocreation/families/Rianna-Ralf/SPC_0137_bvrrin.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569419/studiophotocreation/families/Rianna-Ralf/SPC_0139_eydtt6.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569424/studiophotocreation/families/Rianna-Ralf/SPC_0143_uv36ie.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569424/studiophotocreation/families/Rianna-Ralf/SPC_0150_plnrta.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569423/studiophotocreation/families/Rianna-Ralf/SPC_0152_walflw.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569423/studiophotocreation/families/Rianna-Ralf/SPC_0161_szuzeg.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569422/studiophotocreation/families/Rianna-Ralf/SPC_0164_ddwpyv.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569424/studiophotocreation/families/Rianna-Ralf/SPC_0170_f3vzhl.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569424/studiophotocreation/families/Rianna-Ralf/SPC_0177_j9nsum.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569424/studiophotocreation/families/Rianna-Ralf/SPC_0182_gtemo2.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569426/studiophotocreation/families/Rianna-Ralf/SPC_0184_lcallq.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569428/studiophotocreation/families/Rianna-Ralf/SPC_0186_fpymnj.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569427/studiophotocreation/families/Rianna-Ralf/SPC_0197_fy2q4a.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569431/studiophotocreation/families/Rianna-Ralf/SPC_0199_x1fmsm.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569428/studiophotocreation/families/Rianna-Ralf/SPC_0205_l1qw7o.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569427/studiophotocreation/families/Rianna-Ralf/SPC_0212_hm3djz.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569429/studiophotocreation/families/Rianna-Ralf/SPC_0216_xun1vy.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569430/studiophotocreation/families/Rianna-Ralf/SPC_0222_s7tv6n.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569431/studiophotocreation/families/Rianna-Ralf/SPC_0231_iuz8x2.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569431/studiophotocreation/families/Rianna-Ralf/SPC_0235_qarph2.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569433/studiophotocreation/families/Rianna-Ralf/SPC_0242_hmyl9r.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569434/studiophotocreation/families/Rianna-Ralf/SPC_0250_micecx.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569435/studiophotocreation/families/Rianna-Ralf/SPC_0251_xbwbtc.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569435/studiophotocreation/families/Rianna-Ralf/SPC_0255_fuvanb.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569434/studiophotocreation/families/Rianna-Ralf/SPC_0263_p4405q.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569434/studiophotocreation/families/Rianna-Ralf/SPC_0267_rnpoeb.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569435/studiophotocreation/families/Rianna-Ralf/SPC_0272_asnno6.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569435/studiophotocreation/families/Rianna-Ralf/SPC_0278_pridbi.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569436/studiophotocreation/families/Rianna-Ralf/SPC_0285_mkmspp.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569436/studiophotocreation/families/Rianna-Ralf/SPC_0289_d1dnf7.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569436/studiophotocreation/families/Rianna-Ralf/SPC_0293_ry5gzw.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569437/studiophotocreation/families/Rianna-Ralf/SPC_0294_qrxbe7.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569437/studiophotocreation/families/Rianna-Ralf/SPC_0295_rlmtvq.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569438/studiophotocreation/families/Rianna-Ralf/SPC_0297_zt9qx0.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569439/studiophotocreation/families/Rianna-Ralf/SPC_0300_j1t3ys.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569440/studiophotocreation/families/Rianna-Ralf/SPC_0302_r20dal.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569440/studiophotocreation/families/Rianna-Ralf/SPC_0308_tpsgvp.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569440/studiophotocreation/families/Rianna-Ralf/SPC_0309_zrfnrc.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569440/studiophotocreation/families/Rianna-Ralf/SPC_0310_tkllrh.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569440/studiophotocreation/families/Rianna-Ralf/SPC_0312_soqs30.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569441/studiophotocreation/families/Rianna-Ralf/SPC_0313_knjvcx.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569441/studiophotocreation/families/Rianna-Ralf/SPC_0316_b2cjcb.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569441/studiophotocreation/families/Rianna-Ralf/SPC_0319_fgyn4g.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569442/studiophotocreation/families/Rianna-Ralf/SPC_0325_ulvg9a.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569442/studiophotocreation/families/Rianna-Ralf/SPC_0331_hqmjqi.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569442/studiophotocreation/families/Rianna-Ralf/SPC_0337_ghuv5k.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569443/studiophotocreation/families/Rianna-Ralf/SPC_0338_qpq3ic.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569444/studiophotocreation/families/Rianna-Ralf/SPC_0342_whpg1o.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569445/studiophotocreation/families/Rianna-Ralf/SPC_0343_eenepz.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569443/studiophotocreation/families/Rianna-Ralf/SPC_0346_jlcran.webp"
                        loading="lazy" alt="A photo from Rianna's and Ralf's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>