<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Rouslan's and Irina's family photoshoot in Paphos, Cyprus">
        <title>Rouslan and Irina family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569529/studiophotocreation/families/Rouslan-Irina/SPC_0004_hh7vov.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569528/studiophotocreation/families/Rouslan-Irina/SPC_0009_w2am2g.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569529/studiophotocreation/families/Rouslan-Irina/SPC_0032_vgydul.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569529/studiophotocreation/families/Rouslan-Irina/SPC_0034_c97rwx.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569530/studiophotocreation/families/Rouslan-Irina/SPC_0041_x2hzuc.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569529/studiophotocreation/families/Rouslan-Irina/SPC_0043_gb99ik.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569529/studiophotocreation/families/Rouslan-Irina/SPC_0046_l4klp2.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569531/studiophotocreation/families/Rouslan-Irina/SPC_0058_kyejmb.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569531/studiophotocreation/families/Rouslan-Irina/SPC_0074_vnc6zl.webp"
                        alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569533/studiophotocreation/families/Rouslan-Irina/SPC_0077_mmqzig.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569532/studiophotocreation/families/Rouslan-Irina/SPC_0094_ve99wx.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569531/studiophotocreation/families/Rouslan-Irina/SPC_0096_kuxnqb.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569533/studiophotocreation/families/Rouslan-Irina/SPC_0112_zpjxyr.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569533/studiophotocreation/families/Rouslan-Irina/SPC_0115_fpcmva.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569532/studiophotocreation/families/Rouslan-Irina/SPC_0119_m7ilow.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569536/studiophotocreation/families/Rouslan-Irina/SPC_0131_bjetnd.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569509/studiophotocreation/families/Rouslan-Irina/SPC_0139_vnwu4t.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569510/studiophotocreation/families/Rouslan-Irina/SPC_0150_wj6tra.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569509/studiophotocreation/families/Rouslan-Irina/SPC_0153_grj2t6.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569513/studiophotocreation/families/Rouslan-Irina/SPC_0155_ptb6jt.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569511/studiophotocreation/families/Rouslan-Irina/SPC_0166_kdw12f.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569511/studiophotocreation/families/Rouslan-Irina/SPC_0172_bd2gvn.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569512/studiophotocreation/families/Rouslan-Irina/SPC_0176_grozgv.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569512/studiophotocreation/families/Rouslan-Irina/SPC_0186_pctmbh.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569512/studiophotocreation/families/Rouslan-Irina/SPC_0189_wkwbxh.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569512/studiophotocreation/families/Rouslan-Irina/SPC_0190_iyk0pw.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569512/studiophotocreation/families/Rouslan-Irina/SPC_0192_clk1lt.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569513/studiophotocreation/families/Rouslan-Irina/SPC_0197_xkfxfh.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569517/studiophotocreation/families/Rouslan-Irina/SPC_0202_cpnndu.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569515/studiophotocreation/families/Rouslan-Irina/SPC_0222_byhzxu.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569515/studiophotocreation/families/Rouslan-Irina/SPC_0223_r6jlom.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569515/studiophotocreation/families/Rouslan-Irina/SPC_0236_lqs6ka.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569519/studiophotocreation/families/Rouslan-Irina/SPC_0274_dtwxoi.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569515/studiophotocreation/families/Rouslan-Irina/SPC_0278_scaggm.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569518/studiophotocreation/families/Rouslan-Irina/SPC_0285_itaygm.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569523/studiophotocreation/families/Rouslan-Irina/SPC_0288_snlumd.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569519/studiophotocreation/families/Rouslan-Irina/SPC_0301_ojncfn.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569518/studiophotocreation/families/Rouslan-Irina/SPC_0314_syxcqn.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569523/studiophotocreation/families/Rouslan-Irina/SPC_0320_ngkpze.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569524/studiophotocreation/families/Rouslan-Irina/SPC_0330_a3olpy.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569527/studiophotocreation/families/Rouslan-Irina/SPC_0336_erny06.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569523/studiophotocreation/families/Rouslan-Irina/SPC_0351_zs6ye7.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569523/studiophotocreation/families/Rouslan-Irina/SPC_0353_wvbicf.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569525/studiophotocreation/families/Rouslan-Irina/SPC_0355_kzb9wp.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569526/studiophotocreation/families/Rouslan-Irina/SPC_0367_dncvg6.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569526/studiophotocreation/families/Rouslan-Irina/SPC_0405_rgnfzc.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569526/studiophotocreation/families/Rouslan-Irina/SPC_0419_vawiv8.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569528/studiophotocreation/families/Rouslan-Irina/SPC_0421_cvjn94.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569527/studiophotocreation/families/Rouslan-Irina/SPC_0439_wbipki.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569528/studiophotocreation/families/Rouslan-Irina/SPC_0441_yomsr1.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569528/studiophotocreation/families/Rouslan-Irina/SPC_0442_dz17t8.webp"
                        loading="lazy" alt="A photo from Rouslan's and Irina's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>