<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../partials/head') %>

        <meta name="description"
            content="A complete photography of Sofie's and Ioulia's family photoshoot in Paphos, Cyprus">
        <title>Sofie and Ioulia family photoshoot - Studio Photo Creation by D</title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKQR9QL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../../partials/transition') %>

        <nav>
            <%- include('../../partials/navbar') %>
                <%- include('../../partials/breadcrumb') %>
        </nav>

        <main>
            <section class="main-photogrid">
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569583/studiophotocreation/families/Sofie-Ioulia/SPC_0009_u8rqbx.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569583/studiophotocreation/families/Sofie-Ioulia/SPC_0010_kcnimz.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569586/studiophotocreation/families/Sofie-Ioulia/SPC_0021_vbrwwx.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569585/studiophotocreation/families/Sofie-Ioulia/SPC_0034_cv8frc.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569586/studiophotocreation/families/Sofie-Ioulia/SPC_0046_nue4ru.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569584/studiophotocreation/families/Sofie-Ioulia/SPC_0048_flexi5.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569586/studiophotocreation/families/Sofie-Ioulia/SPC_0062_nzmh5f.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569587/studiophotocreation/families/Sofie-Ioulia/SPC_0092_umsuvv.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569586/studiophotocreation/families/Sofie-Ioulia/SPC_0095_wsjirt.webp"
                        alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569589/studiophotocreation/families/Sofie-Ioulia/SPC_0111_jn5tlm.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569588/studiophotocreation/families/Sofie-Ioulia/SPC_0141_b6hwvw.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569588/studiophotocreation/families/Sofie-Ioulia/SPC_0159_oltag5.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569588/studiophotocreation/families/Sofie-Ioulia/SPC_0174_mdoxdx.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569589/studiophotocreation/families/Sofie-Ioulia/SPC_0177_uozddd.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569589/studiophotocreation/families/Sofie-Ioulia/SPC_0188_wotyxo.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569592/studiophotocreation/families/Sofie-Ioulia/SPC_0195_raha7d.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569589/studiophotocreation/families/Sofie-Ioulia/SPC_0203_plj8gb.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569589/studiophotocreation/families/Sofie-Ioulia/SPC_0216_hsmag8.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569591/studiophotocreation/families/Sofie-Ioulia/SPC_0218_vpdvux.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569590/studiophotocreation/families/Sofie-Ioulia/SPC_0230_ynq0au.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569591/studiophotocreation/families/Sofie-Ioulia/SPC_0245_tr9waa.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569596/studiophotocreation/families/Sofie-Ioulia/SPC_0308_zxwggo.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569593/studiophotocreation/families/Sofie-Ioulia/SPC_0311_gwv1me.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569593/studiophotocreation/families/Sofie-Ioulia/SPC_0326_xiecll.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569593/studiophotocreation/families/Sofie-Ioulia/SPC_0336_wtxntt.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569597/studiophotocreation/families/Sofie-Ioulia/SPC_0338_yu6pnt.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569595/studiophotocreation/families/Sofie-Ioulia/SPC_0348_nmk3q9.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569598/studiophotocreation/families/Sofie-Ioulia/SPC_0358_ybmiiy.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569598/studiophotocreation/families/Sofie-Ioulia/SPC_0363_ffhm1e.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569596/studiophotocreation/families/Sofie-Ioulia/SPC_0366_bf0x3a.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
                <div class="div-photo">
                    <img class="modal-IMG"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1636569597/studiophotocreation/families/Sofie-Ioulia/SPC_0368_ahyfho.webp"
                        loading="lazy" alt="A photo from Sofie's and Ioulia's family photoshoot">
                </div>
            </section>

            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
            </div>
        </main>

        <footer>
            <%- include('../../partials/footer') %>
        </footer>

        <script src="/main.js"></script>
</body>

</html>